.right-navbar-set{
}

.dashboard-navbar-input-label{
	font-size: .6em;
}

.dashboard-navbar-button{

}
.tool-buttons .row [class*="col-"]:nth-child(4) .tool-button  {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
}

.tool-buttons[class*="col-"] {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.tool-buttons[class*="col-"]:hover{
	background: #eaeaea;
}

.tool-button {
	padding: 10px 0px;
	text-align: center;
}

.footer {
	background-color: grey;
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.project-filter-input{
    color: #474747;
    border: 0;
    border-radius: 0;
    width: 100%;
    background-color: #eee;
    height: 30px;
}

.project-block{
	color: white;
	background-color: blue;
}

.project-grid-title{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.panel-heading-small{
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.admin-toolbar{
	background-color: #c2bdbd;
	margin: 0;
	right: 0;
	left: 0;
	padding: 2px;
}

.btn-lt-gray{
	color: #444242;
    background-color: #d4d2d2;
    border-color: #363738;
}