
.page-03-done{
	color:green;
}

.red-check{
	color:red;
}

.save-message-success{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: right;
	padding: 6px 12px;
	margin-bottom: 0;
}

.save-message-failure{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: right;
	padding: 6px 12px;
	margin-bottom: 0;
}

.alert-small {
	padding: 3px;
	margin-bottom: 0px;
}

.sideline-text {
  	font-size: 30px;
}

.project-code-list{
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.project-code-list li {
	padding-bottom: 2px;
	padding-top: 2px;
}

.save-container{
	padding: 5px;
	margin-bottom: 5px;
}

.for-code-control-panel{
	padding-bottom: 5px;
}
.tool-button-row{
	margin-top: -25px;
	margin-right: -65px;
}

.application-form{
	text-align: left;
	margin-left: 20px;
}


.form-question{
	margin-bottom: 3px;
	margin-top: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	padding-top: 3px;
	margin-left: 0px;
	margin-right: 0px;
}


.form-confirmed{
	height: 100%;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	height: 100%;
	background-color: rgba(0, 255, 0, 0.1);
	color: rgba(91, 197, 91, 1);
}


.row-limit{
	overflow: hidden;
}

.custodian-box {
	background-color: #efefef;
	border: 1px solid rgba(0, 0, 0, 0.34);
}

.invert-color{
	background-color: rgb(9,67,88);
	color: white;
}

.fullwidth {
	width: 100%;
}

.light-pane {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 355px;
}

.darkline {
	border-color: rgb(217, 217, 217);
	margin-top: 7px;
	margin-bottom: 7px;
}

.btn.btn-modalyesno:before{
	content: "YES";
}
.btn.btn-modalyesno.active:before{
	content: "YES";
}

.btn.btn-default.active {
	background-color:green;
	color:white;
	font-weight: bold;
}

.large-textarea{
	height: 300px;
}
.small-textarea {
	height: 60px;
}
.medium-textarea{
	height: 120px;
}

.small-widget{
	width: 75px;
}

.application-banner{
	background: url("../images/application-banner.png") no-repeat;
	background-size: cover;
	width:100%;
	color:white;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right:-15px;
}

.application-banner-link{
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	padding: 3px;
	color: white;
}

.application-banner-link :hover{
	color: white;
}

.application-document-link{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(202, 202, 202, 1);
	border-radius: 3px;
	padding: 3px;
	color: black;
}


.application-email{
	min-width: 500px;
}

.title-banner{
	font-size: 30px;
	background-color:  rgba(255, 255, 255, 0.3);
	color: white;
	width: 100%;
	margin-bottom:40px;
	margin-left:0px;
	margin-right: 0px;
}

.bottom-space{
	padding-bottom: 40px;
}

.no-row-margins{
	margin:0px;
}

.save-message-style{
	margin-top: 8px;
	margin-bottom: 8px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:800px;
}
.col-max {
    /* custom max width */
    max-width:1200px;
}

.col-thin {
	padding-right: 1px;
	padding-left: 1px;
}

.item-error {
	border: 1px solid red;
}

.item-warning {
	border: 1px solid orange;
}

.review-title-view{
	font-size: 28px;
}

.review-guidance-view{
	background-color:rgba(61, 60, 60, 0.77);
	color: white;
	padding: 10px;
}

.application-detail-title{
	margin-top: 8px;
/* 	border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

.application-detail-section{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eee;
}

.application-content-row{
	background-color: #eee;
	margin-bottom: 10px;
}

.application-section-title{
	background-color: rgb(255, 141, 91);
	color: rgb(3, 3, 3);
	padding-bottom: 5px;
	padding-top: 5px;
}