/* all pages */

.main-body {
/*     height:100%; */
}

html, body {
    height: 100%;
	font-family: 'Open Sans', sans-serif;
}


@media (max-width: 480px) {
    .container-fluid {
        padding:0 !important;
        margin:0 !important;
    }
    .navbar-collapse {
        margin: 10px !important;
    }
}

/* style and colors */

code {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.no-side-padding{
    padding:0 !important;
    margin:0 !important;
}

.pawsey-darkblue {
	color: rgb(16,61,81);
}
.pawsey-orange {
	color: rgb(239,66,50);
}
.pawsey-darkgreen {
	color: rgb(9,67,88);
}
.pawsey-mediumgreen {
	color: rgb(49,130,147);
}
.green{
	color: green;
}

.system-alert {
	background-color: rgba(205, 0, 0, 0.86);
	color:white;
	font-size: 18px;
	padding:20px;
}
.system-alert-message{
	padding-left: 10px;
}
@media (max-width: 767px) {
	.system-alert {
		background-color: rgba(205, 0, 0, 0.86);
		color:white;
		font-size: 12px;
		padding:5px;
	}
}


/* main front page details */

.pawsey-logo{
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
}

.info-header {
	font-size: 40px;
	font-weight: 300;
	margin: 0 0 -5px;
}

.pawsey-label{
	font-family: 'Oswald', sans-serif;
	font-style: normal;
}


/* navbar */

.brand-image{
}
@media (max-width: 992px) {
	.brand-image{
		width:150px;
		height:20px;
	}
}

.navbar-custom {
    background-color: white;
    border-color: #E7E7E7;
    font-size: 18px;
    margin-bottom: 0px;
}

/* title */
.navbar-custom .navbar-brand {
/*     color: #c1c0c0; */

}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
/*     color: white; */
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #c2c0c0;

}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #999;
	background-color:rgba(23,74,93,.1);

}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color: rgba(23,74,93,.1);   
}

.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: red;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #DDD;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.navbar-right{
	text-align: center;
}

.nav-login-note {
	color:#555454;
	text-align: center;
}

.navbar-btn {
	margin-right: 10px;
	height:100%;
}

@media (max-width: 992px) {
	.navbar-custom .navbar-nav > li > a {
	    padding-left: 5px;
	    padding-right: 5px;
	}
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
