
.application-detail-view {
	
}
.profilepage-container {
	margin-left:  -15px;
	margin-right: -15px;
}

.profilepage-content {
	margin-left: 150px;	
	background-color: #2e353d;
}


.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  float:left;
  top: 0px;
  width: 150px;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  display: block;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: rgb(49, 130, 147);
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #23282e;
  color: #e1ffff;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  background-color: rgb(49, 130, 147);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
/*
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
*/
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.project-user-list {
	list-style: none;
	list-style-type: none;
	padding: 0;
	width:100%;
}

.project-user-entry {
	padding:2px 1px;
}

.project-list-view {
	border-left: 1px solid #23282e;
}

.project-title-container {
	padding: 10px;
	-webkit-box-shadow: inset 5px 0px 5px -4px black;
    box-shadow: inset 5px 0px 5px -4px black;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #2e353d;
    color:white;
}

.project-user-container {
	-webkit-box-shadow: inset 5px 0px 5px -4px black;
    box-shadow: inset 5px 0px 5px -4px black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.project-view-container {
	padding: 10px;
/* 	border-bottom: 1px solid #23282e; */
/*
	-webkit-box-shadow: inset 5px 0px 5px -4px black;
    box-shadow: inset 5px 0px 5px -4px black;
    overflow-y: hidden;
    overflow-x: hidden;
*/
}

.project-scroll-view-container {
	padding: 10px;
	border-bottom: 1px solid #23282e;
	-webkit-box-shadow: inset 5px 0px 5px -4px black;
    box-shadow: inset 5px 0px 5px -4px black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-view-compressed {
	height: 30px;
	box-shadow: inset 5px -4px 5px -4px black;
	transition: all .25s ease;

}
.project-list-title {
	font-size: 14px;
}

.project-list {
	list-style: none;
	list-style-type: none;
	padding: 0;
}

.project-list-entry {
	background-color: #2e353d;
	padding: 5px;
	border-bottom: 1px solid #23282e;
	color:white;
	font-size:12px;
	padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.project-list-entry:hover{
	background-color:  rgb(49, 130, 147);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

.project-list-entry.active{
	background-color:  rgb(49, 130, 147);
}

.project-detail-view {
	background-color: white;
/*
	margin-top: 2px;
	margin-bottom: 2px;
*/
}

.project-list-col{
	padding-right: 0px;
	padding-left: 0px;
	min-width: 150px;
	background-color: #2e353d;
}

.project-detail-col{
	padding-left: 0px;
	padding-right: 2px;
	min-width: 300px;
	background-color: #2e353d;
}

.project-title {
	font-size: 16px;
	color: white;
}

.project-description{
	font-size: 12px;
	border-bottom: 1px solid #23282e;
}

.project-pi-alert {
	background-color: rgb(240, 66, 50);
	color:white;
	font-size: 12px;
	padding: 10px 10px 5px 10px;
	border-bottom: 1px solid #23282e;
}

.project-user-activity-list{
	
}
.project-activity-table-view {
	overflow-y: scroll;
	margin-right: 0px;
}

.project-activity-list {
	width: 100%;
	padding: 0;
}

.project-activity-list tr {
	padding: 1px;
}

.audit-select-item-heading{
	font-size: 12px;
	font-weight:bold;
}

.audit-select-item-text{
	font-size: 10px;
}

.audit-group-item{
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	margin: 0px -15px;
	padding: 5px 5px;
}

.spinner-block{
	padding-top: 200px;
}

.project-overlay {
	transition: all .25s ease;
	position: absolute;
	text-align: center;
	width: 100%;
	color: #484848;
	left:0;
	background-color: rgba(255,255,255,0.3);
	z-index:100;
}

.project-unmounted {
	margin-left: 10px;
	color: red;
	font-weight: bold;	
}

.project-tab-container {
/* 	border-bottom: 1px solid #23282e; */
	-webkit-box-shadow: inset 5px 0px 5px -4px black;
    box-shadow: inset 5px 0px 5px -4px black;
    overflow-y: hidden;
    overflow-x: hidden;
	z-index:5;
	background-color: #2e353d;
    color:white;
}

.profile-tabs > a{
	background-color: #2e353d;
	float:left;
	color: #e3e2e2;
	position: relative;
	display: block;
	min-width:100px;
	padding-bottom: 5px;
	padding-top: 5px;
	border: 1px solid #49525d;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: -1px;
	z-index:10;
}

.profile-tabs > a.active{
	background-color: white;
	color: #2e353d;
}

.profile-tabs > a:focus {
	background-color: white;
	color: #2e353d;
}

.profile-tabs > a:hover{
	background-color: #404b57;
	text-decoration: none;
	color: #e3e2e2;
}

.row-overlay-danger{
	background-color: rgba(255, 2, 2, 0.49);
	z-index: 20;
	color: white;
}

.audit-table {
	font-size: 10px;
	overflow-y:scroll;
}

/*
.audit-group-item:hover {
	background-color: #f5f5f5;
}

a.audit-group-item{
	color: #555;
}

a.audit-group-item:hover, a.audit-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

a.audit-group-item.active{
	color: #fff;
	background-color: #337ab7;
	border-bottom: 1px solid rgba(30, 83, 127, 0.67);
}
*/

.panel-small-heading{
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.fake-col{
	margin:0px 15px
}

.focus-button:hover {
	color:#3737ea;
}

.user-default-view{
	background-color:#4b6ddc;
	color:white;
	margin-left: -15px;
	margin-right:-15px;
	padding:15px;
}


.user-found-view{
	background-color:green;
	color:white;
	margin-left: -15px;
	margin-right:-15px;
	padding:15px;
}


.user-notfound-view{
	background-color:#ed6b6b;
	color:white;
	margin-left: -15px;
	margin-right:-15px;
	padding:15px;
}

.modal-warning-banner {
	font-size: 16px;
	background-color:#720d0d;
	color:white;
	margin-left: -15px;
	margin-right:-15px;
	padding:30px;
}

.report-box{
	margin-top: 20px;
	border: 1px solid rgba(116, 116, 116, 0.15);
	padding: 15px;
	text-align: center;
}
.report-view{
	color: white;
}

.online-project{
	color:white;
}

.project-header{
	color: white;
	font-size: 10px;
}
.progress-bar-col {
	min-width: 100px;
}
.offline-project{
	color:white;
}

.application-list-title{
	color: white;
	font-size: 24px;
}

.application-list{
	color: white;
}

.app-table > tbody > tr:hover {
	background-color: rgba(255, 255, 255, 0.61);
	color: black;
}

.application-detail-view {
	color: white;
}

.application-title-view{
	font-size: 20px;
}

.application-content-container{
	overflow-x: hidden;
	overflow-y: scroll;
}

.application-view-toolbox {
	border: 1px solid #ece1e1;
	padding: 5px;
}

.application-content-row{
	background-color: rgba(74, 73, 73, 0.54);
	border: 1px solid rgba(0, 0, 0, 0.21);
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
}

.application-view-field {
	background-color: rgba(126, 126,126, 0.1);
	border: 0;
}

.application-textarea {
	background-color: rgba(126, 126,126, 0.1);
	border: 0;
	width: 97%;
	min-height: 180px;
}

.application-detail-title{
	margin-top: 10px;
}

.application-address-title{
	font-size: 9px;
	vertical-align: top;
	text-align: right;
}

.application-address-title-box{
	background-color: rgba(210, 206, 206, 0.26);
	padding-bottom: 7px;
}

.application-editing-active{
	color: rgb(24, 194, 4);
}

.activestate{
	color:red;
}

.selectable{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.selectable ::selection{
/* 	background-color: rgba(127, 127, 127, 0.53); */
	color:white;
	background: red;
}