
<div class="profilepage-container" id="profilepage-container">

		<div class="nav-side-menu">
		    <div class="brand" id="profile-user-name">[ USER NAME ]</div>
		    	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		        <div>
		            <ul id="profile-menu-content">
						
						<li>
							<a href="#tab-profile-projects" data-toggle="tab"><div><i class="fa fa-database fa-lg"></i> Projects</div></a>
						</li>
							
						<li class="hidden" id="application-tool-listentry">
							<a href="#tab-profile-applications" data-toggle="tab"><div><i class="fa fa-group fa-lg"></i> Applications <span id="new-applications-badge" class="badge">0</span></div></a>
						</li>	
						
						<li class="hidden" id="report-tool-listentry">
							<a href="#tab-profile-reports" data-toggle="tab"><div><i class="fa fa-tachometer fa-lg"></i> Reports</div></a>
						</li>

<!--
						<li>
							<a href="#tab-profile-connections" data-toggle="tab"><div><i class="fa fa-share-alt fa-lg"></i> Connections</div></a>
						</li>
						
						<li>
							<a href="#tab-profile-tasks" data-toggle="tab"><div><i class="fa fa-gears fa-lg"></i> Tasks</div></a>
						</li>		
-->				
					</ul>
		     </div>
		</div>

		<div class="profilepage-content">
			<div class="tab-content" id="profilepage-tabview">
				<div class="tab-pane active" id="tab-profile-projects"><div id="content-profile-projects"></div></div>
				<div class="tab-pane" id="tab-profile-reports"><div id="content-profile-reports"></div></div>
				<div class="tab-pane" id="tab-profile-connections"><div id="content-profile-connections"></div></div>
				<div class="tab-pane" id="tab-profile-tasks"><div id="content-profile-tasks"></div></div>
				<div class="tab-pane" id="tab-profile-applications"><div id="content-profile-applications"></div></div>
			</div>
		</div>
</div>


<!-- interface for new resource, loaded from click on #add-new-resource-button -->
<div id="new-resource-popover-content" style="display:none">
	<h3 class="text-center">Add a new resource</h3>
	<p class="text-center">Add a resource here to be able to share data between the iVEC Data system your nominated resource.</p>
	<p><input id="new-resource-address-input" type="text" class="form-control" placeholder="Enter IP Address/name"></p>
	<p><input id="new-resource-username-input" type="text" class="form-control" placeholder="Enter Username"></p>
	<p><input id="new-resource-password-input" type="password" class="form-control" placeholder="Enter Password"></p>
	<p><button class="btn btn-default" id="new-resource-button">create</button> <button class="btn btn-default pull-right" id="cancel-resource-button">cancel</button></p>
</div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
    	initialise_profile_page();
    });

</script>
