@media (max-width: 480px) {
    .container-fluid {
        padding:0 !important;
        margin:0 !important;
    }
    .navbar-collapse {
        margin: 10px !important;
    }
}

code {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.no-side-padding{
    padding:0 !important;
    margin:0 !important;
}

.pawsey-darkblue {
	color: rgb(16,61,81);
}
.pawsey-orange {
	color: rgb(239,66,50);
}
.pawsey-darkgreen {
	color: rgb(9,67,88);
}
.pawsey-mediumgreen {
	color: rgb(49,130,147);
}
.green{
	color: green;
}

.system-alert {
	background-color: rgba(205, 0, 0, 0.86);
	color:white;
	font-size: 18px;
	padding:20px;
}
.system-alert-message{
	padding-left: 10px;
}
@media (max-width: 767px) {
	.system-alert {
		background-color: rgba(205, 0, 0, 0.86);
		color:white;
		font-size: 12px;
		padding:5px;
	}
}

.main-body {
/*     height:100%; */
}

html, body {
    height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.intro-banner{
	background-color: rgb(252,175,38);
	padding-top: 15px;
	padding-bottom: 15px;
}

.banner-button{
	margin-top: -10px;
}

@media (max-width: 1024px) {
    .banner-button {
		margin :0px;
    }
}


.intro-title {
	font-size: 60px;
	text-align: center;
	font-weight: bold;
}

.intro-title-box {

}

.intro-title-text-box{
	padding-top:30px;
	text-align: right;
}

.datapage-header .container {
 	position: relative;
 	z-index: 2;
 	width:100%;
}

.datapage-header {
	position: relative;
	padding: 0px 0;
	color: #fff;
	width: 100%;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #4b6fe5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6180e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #020031 0%, #4b6fe5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#4b6fe5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#4b6fe5 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#4b6fe5 100%); /* W3C */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	margin-bottom: 0;
	color: #fff;
}
.datapage-header h1 {
	font-size: 60px;
	letter-spacing: -1px;
	line-height: 1;
}
.datapage-header p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}
.datapage-header {
	margin-top: -20px;
	padding-right: 40px;	
}

.highlight-cell {
	color:#4e84ff;
}

.highlight-cell:hover{
	color:blue;
	cursor: pointer;	
}

.info-display {
	padding: 10px;
}
/*
.public-share-indicator {
	color:blue;
	font-weight: bold;
}

.public-share-indicator:hover {
	color:gray;
}

*/

.large-text {
	font-size: larger;
}

.header-danger {
	background-color: red;
	color:white;
	font-weight: bold;
}
.table-overlay {
	position: absolute;
	text-align: center;
	width: 100%;
	color: #3f3f3f;
	left:0;
	background-color: rgba(255,255,255,0.75);
	z-index:100;
	border:2px dashed rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

.overlay-button {
	border:2px solid rgba(0, 0, 0, 0.5);
	padding:10px;
	border-radius: 10px;
}

.overlay-button:hover {
	background-color:#aba9a9;
	color:white;
}


.file-type-selected {
	background-color: rgba(198,211,225,1.0);
	border-color: gray;
	border-width: 1px;
}

.commandbar {
	text-align: right;
}


.colour-banner {
	color: white;
	background-color: rgba(0, 0, 0, 0.85098);
	background-image: linear-gradient(to right, rgba(49, 130, 147, .6) 100%, rgba(118,157,165,0.6) 0%);
	box-shadow: rgba(255, 255, 255, 0.0980392) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.0980392) 0px 1px 0px 0px;
}

.colour-banner a:link {
	color: white;
	text-decoration: none;
}

.colour-banner a:visited {
	color: white;
}

.colour-banner a:hover {
	color: white;
}

.colour-banner a:active {
	color: white;
}

.faux-button {
	background: rgba(49, 130, 147,0.6);
	box-shadow: rgba(255, 255, 255, 0.0980392) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.0980392) 0px 1px 0px 0px;
	padding: 10px;
}

/* navbar */

.brand-image{
}
@media (max-width: 992px) {
	.brand-image{
		width:150px;
		height:20px;
	}
}

.navbar-custom {
    background-color: white;
    border-color: #E7E7E7;
    font-size: 18px;
    margin-bottom: 0px;
}

/* title */
.navbar-custom .navbar-brand {
/*     color: #c1c0c0; */

}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
/*     color: white; */
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #c2c0c0;

}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #999;
	background-color:rgba(23,74,93,.1);

}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color: rgba(23,74,93,.1);   
}

.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: red;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #DDD;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.navbar-right{
	text-align: center;
}

.nav-login-note {
	color:#555454;
	text-align: center;
}

.navbar-btn {
	margin-right: 10px;
	height:100%;
}

@media (max-width: 992px) {
	.navbar-custom .navbar-nav > li > a {
	    padding-left: 5px;
	    padding-right: 5px;
	}
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.full-height {
	margin-top: -10px;
	height: 60px;
	background-color: rgba(3,3,99,0.59);
	width: 80px;
}	

.resource-box {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height:60px;
	background-color: rgba(152,155,193,0.6);
	color: black;
	border-radius: 10px;
	box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.57);
}

.help-topic-button-box {
	background: rgba(49, 130, 147,0.8);
	color:white;
	padding:10px;
	margin: 10px;
	max-width: 400px;
	display:block;
}	

.help-topic-title-box {
	background: rgba(49, 130, 147,0.8);
	color:white;
	padding:15px;
	margin: 15px 15px 15px 2px;
	max-width:600px;

}	

.help-back-box {
	background: rgba(49, 130, 147,0.8);
	color:white;
	padding:15px;
	margin: 15px 2px 15px 15px;
	max-width: 100px;
}

.circle-number{
	color:white;
	background-color: red;
	border-radius: 10px;
	padding-left: 5px;
	padding-right:5px;
	max-width: 20px;
}

.centertext {
	text-align: center;
}

.small-bottom {
	margin-bottom: 10px;
}

.extend {
	margin-left: -45px;
/* 	margin-right: -45px; */
}

.small-width {
	width: 80px;
}

.search-offset{
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.status-holder {
	position: relative;
	padding: 10px;
	min-height: 160px;
	color: #fff;
	width: 100%;
	background: #515151; /* Old browsers */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	margin-bottom: 0;
	margin-top: -30px;
	color: #fff;
}

.main-container {
}

.toplevel-file-container{
	padding-top: 5px;
}

.table >thead>tr>td{
/*
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
*/
}
.table >tbody>tr>td{
/*
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
*/
	overflow:auto;
	overflow-wrap:break-word;
}
	
/* 	cool labels */

section {
    padding: 5% 0;
}

.section-title {
	background-color: rgb(49, 130, 147);
	color: white;
	font-size: 24px;
	font-weight: 500;
	height:40px;
}

.alizarin {
    background: #e74c3c;
}

.amethyst {
    background: #9b59b6;
}

.emerald {
    background: #2ecc71;
}

.midnight-blue {
    background: #2c3e50;
}

.peter-river {
    background: #3498db;
}


/* remote data view */
.remote-box {
	border: 1px solid black;
	min-height: 300px;
	padding: 10px;
	background: white;
}
.select-box{
	width:100%;
	text-align: center;
	background-color: grey;
	color:white;
}

/* news view */
.news {
  color: #5a5a5a;
}
.news h1 {
  text-align: center;
  margin: 60px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.news h2 {
  font-weight: 200;
  margin-bottom: 5px;
}
.news p {
  font-size: 16px;
  line-height: 1.5;
}

.news-img {
  display: block;
  margin: 0 auto 30px;
  max-height: 145px;
}

/* tools
-------------------------------------------------- */

.tools {
  color: #5a5a5a;
}
.tools h1 {
  text-align: center;
  margin: 60px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.tools h2 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 5px;
}
.tools p {
  font-size: 16px;
  line-height: 1.5;
}

.tools-img {
  display: block;
  margin: 0 auto 30px;
  max-height: 145px;
}

.legacy-style {
	color:rgba(62, 61, 61, 0.95);
	background-color: rgba(127, 127, 127, 0.6);
}
/* login */
.login-container{
    position: relative;
    width: 300px;
    padding: 20px 40px 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.54);
    border: 1px solid #ccc;
}

.login-container-overlay{
    position: absolute;
    width: 300px;
    color: black;
    padding: 20px 40px 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.76);
    z-index: 2000;
    height:100%;
    margin-left: -20px;
}

.timeout-message{
	font-size: 18px;
	color:white;
	margin-bottom: 20px;
}

.simple-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}

#frontpage-error{
    position: absolute;
    width: 300px;
    top: -75px;
    left: -15px;
    color: #fff;
    z-index:40;

}

#frontpage-error.alert-success{
    background: rgb(25, 204, 25);
}

#frontpage-error.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 20px auto 0px auto;
/*
    border-radius: 100%;
    border: 2px solid #aaa;
*/
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.move-items-block {
	border-radius: 4px;
	padding: 2px;
	margin-left: 10px;
	margin-right: 10px;	background-color: #1b4464;
}

.move-items-block p {
	color: white;
	font-weight: bold;
}

/*
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
*/

.btn-system {
	margin:5px;
}

.group-selector {
	font-size: 24px;
	margin-bottom: 15px;
	cursor: pointer;
/*
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
*/
}

.ivec-user {
	color: black;
}

.system-user {
	color:red;
}


.search-form-input{
	color: #474747;
	border:0;
	border-radius: 0;
	width:100%;
	background-color: #eee;
	height: 30px;
}

.search-form-input select{
 	border:0;
}


.search-form-checkbox{
	background-color: white;
	border: 0;
}

.pager-search-row{
	background-color: white;
	color:gray;
}

.pager-control{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: gray;
}

.pager-control:hover{
	color:black;
}

.pager-icon{
	vertical-align: middle;
}

.pager-styled-select {
   width: 50px;
   height: 34px;
   overflow: hidden;
   padding-bottom: 1px;
   background: url("/images/pulldown_arrow.png") no-repeat right #ddd;
   border-radius: 3px;
   border-top: 4px solid rgba(217, 217, 217, 0.72);
   border-left: 5px solid rgba(217, 217, 217, 0.72);
   border-right: 5px solid rgba(217, 217, 217, 0.72);
   border-bottom: 5px solid rgba(217, 217, 217, 0.72);
}

.pager-styled-select select {
   background: transparent;
   width: 50px;
   padding: 5px;
   font-size: 12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   display: inline;
}

.pager-styled-select select:focus{
    outline:none;
}

.file-search {
	padding-top: 3px;
	padding-bottom: 3px;
	margin:0;
}

.file-pager {
	padding-top: 3px;
	padding-bottom: 3px;
	margin:0;
	text-align: right;
}

/* pager output text */
.pagedisplay {
	padding: 5px 10px;
	text-align: center;
	color: gray;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}


.form-group{
	margin-bottom: 0px;
}

/* overriding some annoying bootstrap styling */
.form-group .dropdown-menu >ul>li>a{
	width:100%;
	border:0px;
	border-radius:0px;
}

/* hide or fade out pager arrows when the first or last row is visible */
.disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

.time-column{
	font-size: 10px;
}

.migrate-column{
	margin-top: -5px;
}

.migrating-status-preparing{
	font-size:14px;
	padding:2px;
	color:white;
	background-color: rgba(129, 148, 255, 1);
	border:1px solid rgba(129, 148, 255, 1);
	border-radius: 2px;
}

.migrating-status-offline{
	font-size:14px;
	padding:2px;
	color:white;
	background-color: rgba(255, 129, 129, 1);
	border:1px solid rgba(255, 129, 129, 1);
	border-radius: 2px;
}

.control-column{
	color: rgb(49,130,147);
}

.control-column:hover{
	color: rgb(9,67,88);
}

.jumbo-icon{
	font-size: 12em;
}

margin-10 {
	margin: 10px;
}

/* upload tool ui */
.table-scroll {
	overflow: scroll;
}

.huge-text {
  	font-size: 80px;
  	line-height: 0.7;
}

.sidebar-footer {
	position: fixed;
	bottom: 0;
	right:0;
	width: 25%;
	color: white;
	/* Set the fixed height of the footer here */
	height: 360px;
	background-color: #3a3a3a;
	z-index: 50;
}

.upload-small-title {
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: rgba(93, 93, 93, 1);
	font-size: 15px;
}

.upload-small-view {
	color: rgba(93, 93, 93, 1);
	background-color: rgba(140, 207, 183, 0.86);
}

footer-row {
	margin: 10px;
}

.bad-upload {
	color:red;
	font-weight: bold;
}

.bottom-tab-view {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	height: 30px;
	background-color: rgba(255,255,255,0);
	list-style:none;
	z-index: 40;
/*
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
*/
	pointer-events: none;
}

.bottom-tabs {
	list-style-type: none;
}

.bottom-tab-item {
	min-width: 100px;
	height: 30px;
	color: white;
	font-weight: 500;
	background-color: #7e7c7c;
	border-color: #1c1c1c;
	border-width: 2px;
	border-radius: 5px 5px 0px 0px; 
	text-align: center;
	margin: 0px 20px;
	padding: 3px 5px 0px 5px;
	pointer-events: all;
}

.bottom-tab-item:hover{
/* 	background-color: rgba(0,0,0,0.92); */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
   	cursor: pointer;	
}

.upload-badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #428bca;
	border-radius: 3px;
}

.upload-badge-error {
	background-color: red;
}

.upload-log-view {
	overflow-x: hidden;
	overflow-y: scroll;
}

.upload-log-view table thead th{
/*
	position: absolute;
	top: -20px;
	z-index:10;
*/
}

.upload-log-table-scroll{
	height:100%;
	overflow:auto;  
/* 	margin-top:20px; */
}

.upload-badge-done {
	background-color: green;
}

.popover-title {
    color: black;
    font-size: 18px;
}
.popover-content {
    color: black;
    font-size: 13px;
}

.invisible-fullpage{
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;
	position: absolute;
}

.gray-column {
	height:100%;
	border-right: 2px solid black;
}

.gray-sidebar {
    border-right: 2px solid black;
    background-color: #f6f6f6;
}

.account-view-container {
	margin: -10px -30px -10px -30px;
}


/* sidebar button view */
.command-bar {

}
.command-bar-group {
	padding-left: 2px;
	padding-bottom: 12px;
}

.command-group-active {
/* 	border-left: 2px solid rgba(71,108,219,0.88); */
}

.command-item-group{
}

.command-button-group{
	background-color: rgba(227, 227, 227, 0.75);
	margin-bottom: 1px;
}


.command-button-label{
	display: inline-block;
	padding: 6px 3px;
	font-weight: bold;
}

.command-button {
	background-color: rgba(140,207,183,0.86);
	cursor: pointer;
}

.command-button:hover {
	border:1px solid rgba(9,67,88,.2);
}

@media(max-width:767px){
	.command-button {
		width: 100%;
		text-align: center;
	}
}

.command-bar-title {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: rgba(225,225,225,.7);
	color: rgba(93,93,93,1);
	font-size: 13px;
	font-weight: 0;
	border-bottom:1px solid rgba(102, 102, 102, 0.35);
}

.command-bar-title-active{
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;	
}


.command-bar-title:hover {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.command-bar-disclose {
	padding-right: 10px;
	float:right;
}
 
.command-item-info{
	font-size: 12px;
	padding-top: 7px;
	padding-left: 11px;
	padding-bottom: 7px;
	background-color: rgba(142, 207, 184, 0.49);
	font-size:12px;
}
.command-item {
	padding-top: 7px;
	padding-left: 11px;
	padding-bottom: 7px;
	background-color: rgba(140,207,183,0.86);
	cursor: pointer;
	font-size:12px;
}

.command-item:hover {
	background-color: rgba(140,207,183,1.0);
	border:2px solid rgba(9,67,88,.2);
	padding-top: 5px;
	padding-left: 9px;
	padding-bottom: 5px;
}

.command-item:active {
	color:white;
	background-color: rgba(109, 178, 154, 1);
	border:2px solid rgba(9,67,88,.2);
	padding-top: 5px;
	padding-left: 9px;
	padding-bottom: 5px;
}

.command-item-underway{
	padding-top: 7px;
	padding-left: 11px;
	padding-bottom: 7px;
	background-color: rgba(47, 130, 147, 1);
	color: white;
	cursor: pointer;
}

.command-item-warning {
	padding-top: 7px;
	padding-left: 11px;
	padding-bottom: 7px;
	background-color: rgba(239, 65, 50, 0.84);
	color: white;
	cursor: pointer;
	font-size:12px;
}

.command-item-warning:hover {
	background-color: rgba(239, 65, 50, 1);
	color:white;
	padding-top: 5px;
/* 	padding-left: 11px; */
	padding-bottom: 5px;
	border:2px solid rgba(110, 2, 2, 0.71);
}
@media(min-width:767px){
	.command-item-warning{
		padding-left: 15px;
	}
	.command-item{
		padding-left: 15px;
	}
	.command-item:hover{
		padding-left: 14px;
	}
}

.command-item-warning:active {
	background-color: rgba(179, 47, 35, 1);
	color:white;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	border:2px solid rgba(110, 2, 2, 0.71);
}


.command-item-active {
	
}
.command-item-warning.disabled {
	background-color: rgba(227, 227, 227, 0.75);
	color : #9a9a9a;
	pointer-events:none;
}
.command-item.disabled {
	background-color: rgba(227, 227, 227, 0.75);
	color : #9a9a9a;
	pointer-events:none;
}

.moving-items-view {
	margin-top: 10px;
	margin-bottom: 5px;
}

.current-items-list-view{
	max-height: 300px;
	overflow: scroll;
}
/*
.command-item-disabled:hover {
	background-color: #bababa;
	color : #383838;
}
*/

.file-name-input-field {
	width: 100%;
	color: black;
	background-color: rgba(255,255,255,0);
	border: 0px solid black;
	word-break: break-word;
}

/*
.file-name-input-field:focus {
    outline: none !important;
}
*/

.file-name-input-field-editable {
    outline: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-bottom: 1px dashed rgba(49, 132, 148, 0.6);
}

.file-table-body-view{
	
}

.name-column{
	word-wrap:break-word;
	word-break:break-word;
}
.rename-button-style {
	margin-left: -60px;
}

.cancel-rename-button-style {
	color:red;
	font-size: 18px;
	margin-top: -10px;
}

.perform-rename-button-style {
	color:green;
	font-size: 18px;
	margin-top: -10px;
}

.file-view-container {
	overflow-x: hidden;
	overflow-y: scroll;
}

/*
.file-table-style tr button {
	visibility: hidden;
}

.file-table-style tr:hover button {
	visibility: visible;
}
*/

.crumb-container {
/*
  margin: 10% auto;
  border: 0.25em solid #ddd;
*/
  width: 100%;
}

.crumb-left-button{
	margin-right: 1px;
	padding-right: 1px;
}

.crumb-right-button{
	margin-left: 1px;
	padding-left: 1px;
}

.crumb-container .breadcrumb {
/*
  overflow: hidden;
  text-overflow: ellipsis;
*/
	white-space: nowrap;
	margin: 0;
}

.crumb-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
}


.crumb-container .breadcrumb li {
/* 	display: inline; */
}


.breadcrumb-button {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ccc;
	border-radius: 4px;
	color: white;
	text-align: center;
}

/*
@media (min-width: 767px) {
	.breadcrumb-button{
		padding: 3px 5px;
	}
}

@media (min-width:991px) {
	.breadcrumb-button{
		padding: 3px 10px;
	}
}

@media (min-width: 1023px) {
	.breadcrumb-button{
		padding: 3px 15px;
	}
}
*/

.breadcrumb-link{
	color: white;
}

.breadcrumb-link:hover{
	color: black;
}

.search-row {
	margin-bottom: 2px;
}

.modal_detail_error {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 200px;
}

.table-row-loadview {
	position: relative; 
	white-space: nowrap; 
	z-index: 1000;
	background-color: #428bca;
	color: white;
}

.popup-title {
	font-size: 18px;
}

.fill-vertical {
    min-height: 100%;
    height: 100%;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

.moving-file-list-style{
/* 	list-style:none; */
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.moving-file-list-style li{
/* 	text-align: left; */
}
/* main front page details */

.pawsey-logo{
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
}

.info-header {
	font-size: 40px;
	font-weight: 300;
	margin: 0 0 -5px;
}

.pawsey-label{
	font-family: 'Oswald', sans-serif;
	font-style: normal;
}

.logo-banner{
	padding-top:40px;
	padding-bottom: 40px;
}

.left-logo{
	text-align: left;
}

.right-logo {
	text-align: right;
}

.primary-banner{
	margin-top: 40px;
	background: url("../images/application-banner.png") no-repeat;
	background-size: cover;
    background-color: rgba(9, 67, 88, 1.0);
    border-radius: 0px;
    margin-right:-15px;
}

.primary-info-column{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 30px;
	text-align: center;
}


.primary-login-container{
    position: relative;
    text-align: center;
}

.nogap-col {
	padding-right:0px;
	padding-left:0px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.left-small-col {
    /* custom max width */
    max-width:270px;
}

.full-height-image {
	height: 100%;
}

.col-max-2 {
	max-width: 640px;
}

.row-centered {
    text-align:center;
}

/* content styles */
.item {
	display:table;
}

.item-link{
	color: inherit; 
}
.item-link:hover{
	color: inherit;
	text-decoration: none;
}

.item-overlay:hover{
	cursor: pointer;
	background-color: rgba(252,175,38,.3);
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.front-login-box input[type=text],.front-login-box input[type=password]{
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.5);
    transition:0.1s ease-in;
    outline: none;
}



.front-login input:focus{
    outline: 0;
    background: #eee;
}

.front-login input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.front-login input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.front-login button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.page-title {
	font-size: 80px;
}

.loggedin-message-container{
	padding-top: 15px;
	overflow: hidden;
	min-height: 114px;
	background-color: rgba(41, 40, 40, 0.51);
	color:white;
	width:269px;
	text-align: center;
	
}

.no-margins{
	margin-left: 0px;
	margin-right: 0px;
}

.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}

.detailed-error-style {
	font-size: 10px;
	padding-left: 40px;
}

/* file table color overrides */

.table > tbody > tr.info > td {
	background-color: rgba(49,130,147,.3) !important;
	border-bottom: 1px solid rgba(49,130,147,.3);

}

.edit-filename-view{
	overflow: auto;
	width: 100%;
	resize: none;
}

.icon-compress{
	margin-top: -5px;
	margin-bottom: -5px;
}


.download-title {
	background-color: rgb(9,67,88);
	color:white;
	font-size: 18px;
	padding:20px;
	margin-left: -15px;
	margin-right: -15px;
}

.help-container {
	width:100%;
	border:0px;
}

.help-row-container {
	margin: 2px;
}

.help-info-block {
	background-color: #e7e4e4;
}

.help-block-title {
	font-weight: bold;
}

.faded {
	opacity: .5;
}

/* task list */

.task-miniview-container{
	background-color: rgba(238, 84, 69, 0.48);
}

.task-miniview-header{
	color: #434343;
}

.task-view-container{
	background-color: white;
	-webkit-box-shadow: inset 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 13px -4px rgba(0,0,0,0.75);
}

.tasks-title-view{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	font-size: 18px;
	-webkit-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.8);
	box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.8);
	background-color: white;
	color: black;
}

.tasks-footer-view{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.8);
	box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.8);
	background-color: white;
	color: black;
}

.task-group {
	padding-left: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.task-item {
	padding-top: 7px;
	padding-left: 11px;
	padding-bottom: 7px;
	background-color: rgba(140,207,183,0.86);
	font-size:13px;
}

.task-item-title {
	background-color: rgba(142, 207, 184, 0);
	font-weight: bold;
}


.task-fullview-container{
	background-color: #ccfff6;
}


.btn.outline {
    background: none;
    margin: 1px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
}

.btn-danger.outline {
    border: 2px solid #d43f3a;
    color: #d43f3a;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
    color:  #ac2925;
    border-color:  #ac2925;
}
.btn-danger.outline:active, .btn-danger.outline.active {
    border-color:  #ac2925;
    color:  #ac2925;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
}

.btn-dark.outline {
    border: 2px solid #333;
    color: #111;
}
.btn-dark.outline:hover, .btn-dark.outline:focus, .btn-dark.outline:active, .btn-dark.outline.active, .open > .dropdown-toggle.btn-danger {
    color:  #111;
    border-color:  #111;
}
.btn-dark.outline:active, .btn-dark.outline.active {
    border-color: #111;
    color:  #111;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25);
}


/* help blocks */
/* ----------------------------
 * Callouts
 * ----------------------------
 */

.callout-light {
    padding: 30px;
	color: #000;
	background-color: #ccc;
}

.callout-light h1,
h2,
h3,
h4 {
	font-weight: 300;
	line-height: 1.4;
}

.callout-dark {
	padding: 30px;
	color: #fff;
	background-color: #252525;
}

.callout-dark h1,
h2,
h3,
h4 {
	font-weight: 300;
	line-height: 1.4;
}

.callout-dark p {
	color: #B1B1B1;
	font-size: 17px;
}

.callout-mage {
	padding: 30px;
	background-color: #743C58;
	color: #fff;
}

.callout-bubble {
	padding: 30px;
	color: #fff;
	background-color: #A94545;
}

.callout-bubble h1,
h2,
h3,
h4 {
	font-weight: 300;
	line-height: 1.4;
}

.callout-block {
	background-color: #F5F3F4;
	border-left: 5px solid #a94545;
	border-right: 5px solid #a94545;
	padding: 15px;
}

.callout-block h1,
.callout-block h2,
.callout-block h3,
.callout-block h4 {
	font-weight: 300;
	line-height: 1.4;
}

.tiny-text{
	font-size: 9px;
	font-weight: bold;
	word-wrap: break-word;
}

.bubble-label{
	padding: 3px 6px;
	margin-bottom: 0;
	font-size: 14px;
/* 	font-weight: 400; */
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: rgba(255,  255,  255, 0);
	color: rgba(64, 63, 63, 1);
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.bubble-small{
	padding: 1px 3px;
	font-size: 10px;
	line-height: 1.22857143;
	border-radius: 2px;

}

.mini-taskcount-view{
	background-color: #ffd1d1;
	color: rgb(88, 88, 88);
	min-width: 15px;
	display: inline-block;
	height:18px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 2px;
	font-weight: lighter;
	margin-left: 2px;
	align-content: center;
}

.mini-taskbar-disclose-button{
	border-top: 100px solid red;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 100px;
}

.disclose-button {
	background-color:#d0451b;
	border: 1px solid rgba(148, 41, 17, 0.26);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	height:21px;
	width:100%;
}
.disclose-button:hover {
	background-color:#bc3315;
}
.disclose-button:active {
	position:relative;
}

.metadata-detail-table {
	margin-bottom: 0px;
	background-color: rgba(136, 136, 136, 0.05);
	font-size: 10px;
}

/* detail view */

.detail-info-bar {
	background-color: #666565;
	color:white;
	margin-left:-20px;
	margin-right: -20px;
	padding-right: 10px;
	margin-top: -15px;
	margin-bottom: 15px;
}

.detail-lead {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.4;
	color:white;
}

.detail-header-info{
	padding-left: 15px;
/* 	margin-top: -20px; */
	margin-bottom: 10px;
}

.detail-table-view{
	overflow-y: scroll;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	margin:10px;
}

.detail-modal-body {
    max-height: calc(100vh - 550px);
    overflow-y: auto;
    overflow-x: hidden;
}

.unselectable{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}
.see-through{
	opacity: .2;
}

.central-button-overlap{
	bottom:0px;
	z-index: 100;
	position: absolute;
	left:50%;
	margin-left: -72px;
	width:144px;
}

.central-button-overlap-small{
	top:0px;
	z-index: 100;
	position: absolute;
	left:50%;
	margin-left: -72px;
	width:144px;
}

.btn-default-dark{
	color: #333;
	border-color: #111;
}
.btn-default-dark:hover, .btn-default-dark:focus, .btn-default-dark.focus{
	color: #333;
	border-color: #111;
	border: 2px;
}

.progress-log-name-style{
	width: 70%;
	word-break: break-all;
}

.object-centered{
	text-align: center;
	align-items: center;
	word-break: break-all;
	text-align: center;
}

.thumbnail-image{
	width: 200px;
}

.thumbnail-spinnner-view{
	padding-top: 75px;	
}

.lead-badge{
	margin-left:20px;
	padding: 3px;
	background-color: #337ab7;
	color: white;
	font-size: 14px;
}