<!-- login panel -->
<div id="login-panel">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="login-container ">
			        <div id="output"></div>
			        <div class="avatar"><i class="fa fa-user fa-4x"></i></div>
			        <div><span class="group-selector ivec-user" id="group-selection">I'm a Pawsey user</span></div>
					<div class="form-box">
			            <input name="user" type="text" id="inputUsername" placeholder="username" onfocus="this.select();">
			            <input type="password" id="inputPassword" placeholder="password" onfocus="this.select();">
			            <button class="btn btn-info btn-block login" id="process-login-button" type="submit">Login</button>
			        </div>	        
			    </div>
			</div>
			<div class="col-xs-6">

		        <div class="simple-container">
					<button type="submit" id="public-login-button" class="btn btn-primary btn-lg btn-block"><p class="lead">Go to Public Data</p></button>
		        	<h4>You don't have to login for public data</h4>
		        </div>
			</div>
		</div>    
	</div>
</div>

<!-- task view -->
<div id="task-view-container" class="hidden animated slideInDown unselectable">
	<div class="row task-view-container">
		<div class="col-xs-6" id="upload-control">
			<div class="task-group" id="upload-bottom-tab-button">
				<div class="task-item">
					<div class="row">
						<div class="col-xs-3">
							<div class="task-item task-item-title" id=""><h4>Uploads</h4></div>
						</div>
						<div class="col-xs-3">
							<div class="clearfix">
				                <div id="upload-indicator" class="c100 p00 small">
				                    <span id="upload-indicator-text">idle</span>
				                    <div class="slice">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                </div>
							</div>
						</div>
						<div class="col-xs-6">
		          			<button class="btn btn-primary btn-sm outline" id="cancel-current-upload-button">cancel</button>
				  			<button class="btn btn-danger btn-sm outline" id="reset-current-upload-button">reset</button>
				  			<button class="btn btn-sm btn-dark outline" id="show-current-uploadlog-button">activity log</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6" id="download-control">
			<div class="task-group" id="download-bottom-tab-button">
				<div class="task-item">
					<div class="row">
						<div class="col-xs-3">
							<div class="task-item task-item-title" id=""><h4>Downloads</h4></div>
						</div>
						<div class="col-xs-3">
							<div class="clearfix">
				                <div id="download-indicator" class="c100 p00 small">
				                    <span id="download-indicator-text">idle</span>
				                    <div class="slice">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                </div>
							</div>
						</div>
						<div class="col-xs-6">
				  			<button class="btn btn-danger btn-sm outline" id="reset-current-download-button">reset</button>
				  			<button class="btn btn-sm btn-dark outline"  id="show-current-downloadlog-button">activity log</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="central-button-overlap">
			<button class="disclose-button" id="dismiss-tasks-button"><i class="fa fa-chevron-up"></i> less detail</button>
		</div>
	</div>

</div>


<!-- overall file view -->
<div id="file-display" draggable="true" class="toplevel-file-container">
	<div class="row">
		<!-- 	file table view -->
		<div id="main_file_wrapper" class="col-md-10 col-sm-10 col-xs-11">
			<!-- 	search and breadcrumbs -->
			<div class="row">
		  		<div class="col-xs-2 col-sm-1 no-margins crumb-left-button">
			  		<div class="breadcrumb-button" id="parent-namespace-button"><i class="fa fa-2x fa-chevron-left"></i></div>
		  		</div>
			  	<div class="col-xs-8 col-sm-10 no-margins no-padding">
			  		<div class="crumb-container" id="path-breadcrumb-container">
						<ol class="breadcrumb" id="path-breadcrumbs">
							<li><a href="#" class="breadcrumb-link">Home</a></li>
						</ol>
			  		</div>
			  	</div>
		  		<div class="col-xs-2 col-sm-1 no-margins crumb-right-button">
			  		<div class="breadcrumb-button" id="refresh-filelist-button">
				  		<a href="#" class="breadcrumb-link"><i class="fa fa-2x fa-refresh"></i> </a>
				  	</div>
		  		</div>
			</div>

<!-- 	pager ui -->
			<div class="row pager-search-row">
				<div class="col-xs-4 col-sm-6">
					<div class="file-search">
						<div class="input-group input-group-sm">	
							<input id="input-search-field" type="text" class="search-form-input" placeholder="Filter results by ..." onfocus="this.select();">
							<span class="input-group-btn">
								<button id="search-clear-button" class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
								<button id="search-execute-button" class="btn btn-default disabled" type="button">Go</button>
							</span>
							<label class="input-group-addon search-form-checkbox">
							 	<input id="search-recursive-button" class="disabled" type="checkbox"> include sub-folders
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-sm-6">
			        <div class="file-pager">
			          <div class="form-inline form-group">
			            <span class="pagedisplay" id="pager-currentpage-view"></span>
			            <span type="button" class="first pager-control" id="pager-firstpage-button"><i class="fa fa-2x fa-angle-double-left pager-icon" aria-hidden="true"></i></span>
			            <span type="button" class="prev pager-control" id="pager-previouspage-button"><i class="fa fa-2x fa-angle-left pager-icon" aria-hidden="true"></i></span>
			            <span type="button" class="next pager-control" id="pager-nextpage-button"><i class="fa fa-2x fa-angle-right pager-icon" aria-hidden="true"></i></span>
			            <span type="button" class="last pager-control" id="pager-lastpage-button"><i class="fa fa-2x fa-angle-double-right pager-icon" aria-hidden="true"></i></span>
			            <span class="pager-styled-select hidden-xs">
				            <select id="pager-pagesize-selector" class="pagesize selectpicker hidden-xs" data-width="80px" data-style="btn-default btn-sm">
				                <option selected="selected" value="10">10</option>
				                <option value="20">20</option>
				                <option value="30">30</option>
				                <option value="40">40</option>
				            </select>
			            </span>
			          </div>
					</div>
				</div>
		    </div>


			<!-- 	data system alert -->
			<div class="alert alert-danger alert-dismissible" role="alert" id="div-data-alert-message" style="display:none">
		    	<button type="button" class="close" onclick="$('#div-data-alert-message').hide(); return false;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<span id="data-alert-message-text"></span>
		    </div>
		    	    
			<!-- 	hidden tab headers -->
		    <div style="display: none">
				<ul class="nav navbar-nav  navbar-left">
					<li><a href="#tab-datatable" data-toggle="tab">Table</a></li>
				</ul>
			</div>

		    <div class="tab-content">
		    	<!-- Tab to display data table -->
			    <div class="tab-pane active" id="tab-datatable">
					<!--	file table UI -->
				    <div class="row">
			            			
				    	<div class="col-md-12 file-view-container" id="div-file-table">
			
							<!-- 	file upload overlay -->
				    		<div class="table-overlay" id="file-upload-view">
					    		<div class="center-block>">
									<p class="lead">Drop files here</p>
									<p class="lead" id="upload-directory-target"></p>
									<span class="lead overlay-button" id="dismiss-upload-overlay">dismiss</span>
								</div>
							</div>
							
							
							<!--	searching overlay -->
					    	<div class="table-overlay" id="task-underway-view">
					    		<div class="center-block>">
									<p class="lead"><i class="fa fa-circle-o-notch fa-spin"></i> Searching...</p>
								</div>
							</div>
					        <div class="table-responsive">
								<table class="table table-hover table-underlay file-table-style" id="file-table">
									<thead><tr>
										<th class="icon-column"><i class="fa fa-file-o hidden-xs"></i></th>
										<th class="name-column ">Name </th>
						                <th class="asset-table-header hidden-xs size-column ">Size </th>
						                <th class="asset-table-header hidden-xs hidden-sm date-column">Date Modified</th>
						                <th class="control-column"></th>
						                <th class="control-column"></th>
										<th class="control-column"></th>
						            </tr></thead>
									<tbody class="file-table-body-view">
										<tr><td><span class='bubble-label'><i class="fa fa-cog fa-spin"></i> Loading </span></td></tr>
									</tbody>
								</table>
					        </div>
					        
				    	</div> <!-- end of main table -->
				    	
					</div>
		
					<!-- 	pager ui -->
<!--
					<div class="row">
						<div class="col-xs-12">
					        <div class="pager">
					          <div class="form-inline form-group">
					            <button type="button" class="first btn btn-default btn-sm" id="pager-firstpage-button">first</button>
					            <button type="button" class="prev btn btn-default btn-sm " id="pager-previouspage-button">prev</button>
					            <span class="pagedisplay" id="pager-currentpage-view"></span>
					            <button type="button" class="next btn btn-default btn-sm" id="pager-nextpage-button">next</button>
					            <button type="button" class="last btn btn-default btn-sm" id="pager-lastpage-button">last</button>
					            <span class="pager-styled-select">
						            <select id="pager-pagesize-selector" class="pagesize selectpicker hidden-xs" data-width="80px" data-style="btn-default btn-sm">
						                <option selected="selected" value="10">10</option>
						                <option value="20">20</option>
						                <option value="30">30</option>
						                <option value="40">40</option>
						            </select>
					            </span>
					          </div>
							</div>
						</div>
				    </div>
-->
			    </div>
			    						        
			</div>
	
		</div> 
			
		<!-- 	tools (vertical view) -->
		<div class="col-md-2 col-sm-2 col-xs-1">
			<div class="command-bar">
				
				<!-- simple search tool -->
<!--
				<div class="row search-row hidden-xs" id="search-tool-box">
					<div class="input-group">
						<input id="input-search-field" type="text" class="form-control" placeholder="Filter results by ..." onfocus="this.select();">
						<span class="input-group-btn">
							<button id="search-clear-button" class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
							<button id="search-execute-button" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
				<div class="row search-row hidden-xs" id="search-options-box">
					<button id="search-recursive-button" class="btn btn-sm btn-primary" type="button">include all sub-directories</button>
				</div>
-->
				<!-- Public access buttons -->
				<div class="hidden public-interface" id="public-login-box">
					<div class="row">
						<div class="command-bar-group">
							<div class="command-bar-title command-bar-title-active"><h4>Welcome to Public Access at PawseyData</h4></div>
							<div class="command-item" id="login-from-public-button">Login if you have an account</div>
						</div>
					</div>
				</div>


				<!-- select all buttons -->
				<div class="row" id="selection-box">
					<div class="command-bar-group" id="data-selectall-set">
						<div class="command-bar-title command-bar-title-active hidden-xs"><span class="visible-xs-inline visible-sm-inline">Select </span><span class="visible-md-inline visible-lg-inline">Select all</span></div>
						<div class="command-button-group btn-block">
							<button type="button" class="btn btn-sm command-button" id="select-all-folders-button"><span class="visible-xs-inline visible-sm-inline"><i class="fa fa-folder-o fa-2x"></i></span><span class="visible-md-inline visible-lg-inline">Folders</span></button>
							<button type="button" class="btn btn-sm command-button" id="select-all-files-button"><span class="visible-xs-inline visible-sm-inline"><i class="fa fa-file-o fa-2x"></i></span><span class="visible-md-inline visible-lg-inline">Files</span></button>
						</div>
					</div>
				</div>


				<!-- Task UI and buttons -->
				<div class="row" id="selection-box">
					<div class="command-bar-group" id="">
						<div class="command-bar-title command-bar-title-active hidden-xs"><span class="visible-xs-inline visible-sm-inline">Tasks</span><span class="visible-md-inline visible-lg-inline">Tasks</span></div>
						<div class="command-button-group btn-block">
							<button type="button" class="btn btn-sm command-button hidden-xs" id="show-display-uploads"><span class="visible-sm-inline"><i class="fa fa-arrow-up fa-1x"></i></span><span class="visible-md-inline visible-lg-inline">Uploads </span><span class="label label-primary" id="upload-task-count">0</span></button>
							<button type="button" class="btn btn-sm command-button" id="show-display-downloads"><span class="visible-xs-inline visible-sm-inline"><i class="fa fa-arrow-down fa-1x"></i></span><span class="visible-md-inline visible-lg-inline">Downloads </span><span class="label label-primary" id="download-task-count">0</span></button>
						</div>
						<div class="command-item-group">
							<div class="command-item-info hidden-xs " id="upload-info-control"><span class="visible-md-inline visible-lg-inline">To upload: drag and drop or </span><button id="visible-upload-button" class="btn btn-xs btn-primary">Choose File</button><input type="file" id="hidden-upload-input" multiple="true" class="file hidden" name="attachment"></div>
						</div>
					</div>
				</div>
					
				<!-- public interface notice -->
				<div class="hidden public-interface">
					<div class="row">
						<div class="command-bar-group" id="public-selected-items-group">
							<div class="command-bar-title command-bar-title-active"><h4>Public User Actions</h4></div>
							<div class="command-item" id="public-clear-delete-button"><span>Deselect all items</span> </div>								
							<div class="command-item" id="public-download-files-button">Download selected items</div>
							<div class="command-item" id="public-download-archive-button">Download selected as zip file</div>
						</div>
					</div>
				</div>
	
				<!-- edit controls -->
				<div class="row" id="selected-items-box">
					<div class="command-bar-group" id="selected-items-group">
						<div class="command-bar-title command-bar-title-active" id="selected-items-button"> 
							<span class="visible-sm-inline">Selected </span><span class="visible-md-inline visible-lg-inline">Selected item actions </span><span class="label label-primary" id="selected-items-count-view">0</span>
						</div>
						<div class="command-item-group" id="data-edit-set">
							<div class="command-item" id="clear-selection-button"><span class="visible-xs-inline"><i class="fa fa-eraser fa-2x"></i></span><span class="visible-sm-inline">Clear</span><span class="visible-md-inline visible-lg-inline">Clear current selection</span></div>
							<div class="command-item" id="move-items-button"><span class="visible-xs-inline"><i class="fa fa-share fa-2x"></i></span><span class="visible-sm-inline">Move</span><span class="visible-md-inline visible-lg-inline">Move files/folders <span class='label label-primary hidden' id='moving-items-count'>0</span> <span class='btn btn-xs btn-primary' id='show-moving-items-button'>Info</span></span><div class='hidden moving-items-view' id="moving-items-interface"><button class='btn btn-default btn-sm' id='move-here-button'>Move to <span id='move-target-button-label'>Here</span></button> <button class='btn btn-warning btn-sm' id='cancel-move-button'>Cancel</button></div></div>
							<div class="command-item" id="share-files-button"><span class="visible-xs-inline"><i class="fa fa-eye fa-2x"></i></span><span class="visible-sm-inline">Public</span><span class="visible-md-inline visible-lg-inline">Make files public</span> <span id="share-files-done" class="label label-primary hidden"></span></div>
							<div class="command-item" id="unshare-files-button"><span class="visible-xs-inline"><i class="fa fa-eye-slash fa-2x"></i></span><span class="visible-sm-inline">Private</span><span class="visible-md-inline visible-lg-inline">Make files private</span> <span id="unshare-files-done" class="label label-primary hidden"></span></div>
							<div class="command-item" id="clear-delete-button"><span class="visible-xs-inline"></span><span class="visible-sm-inline"></span><span class="visible-md-inline visible-lg-inline">deselect all items</span> </div>
							<div class="command-item" id="download-files-button"  data-toggle="tooltip" data-trigger="manual" data-title="Some files are being prepared for download" data-placement="left"><span class="visible-xs-inline"><i class="fa fa-cloud-download fa-2x"></i></span><span class="visible-sm-inline">Download</span><span class="visible-md-inline visible-lg-inline">Download selected items</span></div>
							<div class="command-item" id="download-archive-button"><span class="visible-xs-inline"><i class="fa fa-file-archive-o fa-2x"></i></span><span class="visible-sm-inline">Download zip</span><span class="visible-md-inline visible-lg-inline">Download selected as zip file</span></div>
							<div class="command-item-warning" id="delete-items-button" data-toggle="modal" data-target="#myDeleteModal"><span class="visible-xs-inline"><i class="fa fa-trash-o fa-2x"></i></span><span class="visible-sm-inline">Delete</span><span class="visible-md-inline visible-lg-inline">Delete selected items</span></div>
						</div>
					</div>
				</div>

				<!-- other controls -->
				<div class="row" id="general-controls-box">
					<div class="command-bar-group" id="edit-mode-group">
						<div class="command-bar-title command-bar-title-active"><span class="visible-xs-inline"><i class="fa fa-cog fa-2x"></i></span><span class="visible-sm-inline">Other</span><span class="visible-md-inline visible-lg-inline">Other actions</span></div>
						<div class="command-item" id="show-new-namespace-button"><span class="visible-xs-inline"><span class="fa-stack fa-lg"><i class="fa fa-folder fa-2x fa-stack-1x"></i><i class="fa fa-plus fa-inverse fa-stack-1x"></i></span></span><span class="visible-sm-inline">New folder</span><span class="visible-md-inline visible-lg-inline">Create a folder</span></div>
						<!-- <div class="command-item" id="export-text-list-button"><span class="visible-xs-inline"><span class="fa-stack fa-lg"><i class="fa fa-folder fa-2x fa-stack-1x"></i><i class="fa fa-plus fa-inverse fa-stack-1x"></i></span></span><span class="visible-sm-inline">Export List</span><span class="visible-md-inline visible-lg-inline">Export file List</span></div> -->
					</div>
				</div>

				<!-- interface for upload progress view and info -->
<!--
				<div class="row" id="user-tasks-box">
					<div class="command-bar-group" id="user-tasks-group">
						<div class="command-bar-title command-bar-title-active"><span class="visible-xs-inline"><i class="fa fa-refresh fa-2x"></i></span><span class="visible-sm-inline">Current</span><span class="visible-md-inline visible-lg-inline">Current activity</span></div>
						<div class="command-item" id="upload-bottom-tab-button"><span>Uploads </span><span class="upload-badge" id="upload-count-badge">idle</span></div>
						<div class="command-item" id="upload-dialogue-click"><span><strong> To upload</strong> drag and drop or </span>Click here<input id="upload-dialogue-input" style='visibility:hidden;height:0;' name="file-upload" type="file" /></div>
					</div>
					<div class="command-bar-group" id="user-upload-group">

					</div>

				</div>
-->
			</div>
		</div>
<!--
		<div id = "remote-data-view" class="col-md-6">
			<div class="remote-box">
				<p id="remote-title" class="lead">Select resource</p>
				<div id="remote-selector" class="row">
	
				</div>
				<div id="remote-list" class="row">
				</div>		
			</div>
		</div>
-->	
	</div>
</div><!-- end of big row -->

<!-- path not found view -->
<div id="path-notfound-view" class="hidden">
	<div class="download-title" id="download-error-title">
		<p>Encountered a problem</p>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<p class="text-center" id=""><i class="fa fa-thumbs-down fa-5x fa-lg"></i></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<p class="text-center lead">I can't the file/path you requested</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<button class="btn btn-primary btn-block" id="filesystem-link">Back to the main file system</button>
		</div>
		<hr>
	</div>
</div>


<!-- direct file download view -->
<div id="direct-download-view" class="hidden">
	<div class="download-title">
		<span>Download a file</span>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<span class="lead" id="downloadpage-title">Download title</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4">
			<p class="text-center" id="downloadpage-icon">No icon found</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<button class="btn btn-primary btn-block" id="downloadpage-link"><i class="fa fa-download"></i> Download</button>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<button class="btn btn-primary btn-block" id="downloadpage-returnlink">To file browser</button>
		</div>
	</div>
</div>

<!-- interface for progress view, to be added to footer as needed -->
<!-- <div id="progress-view"> -->
<div class="hidden upload-small-view" id="upload-progress-view">
	<div class="row no-margins" id="upload-progress-title">
		<div class="col-xs-12">
			<h3>Upload Details</h3>
		</div>
	</div>
	<!-- log table -->
	<div id="upload-progress-log-view" class="row no-margins">
		<div class="row no-margins">
			<div class="col-xs-12">
				<table class="table table-condensed" id="table-upload-log">
					<thead><tr><th class="progress-log-name-style"> File/Folder Name </th><th> Timestamp </th><th> Status </th></tr></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="hidden upload-small-view" id="download-progress-view">
	<div class="row no-margins" id="download-progress-title">
		<div class="col-xs-12">
			<h3>Download Details</h3>
		</div>
	</div>
	<!-- log table -->
	<div id="download-progress-log-view" class="row no-margins">
		<div class="row no-margins">
			<div class="col-xs-12">
				<table class="table table-condensed" id="table-download-log">
					<thead><tr><th> File/Folder Name </th><th> Timestamp </th><th> Status </th></tr></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</div>


<!-- folder metadata modal view -->
<div class="modal" id="modal-namespace-detail-view"  tabindex="-1" role="dialog" aria-labelledby="modal-namespace-metadataview-label" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
	<div class="modal-header"> 
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<p class="lead" id="namespace-detail-name">Folder Name</p>
	</div>
	<div class="modal-body">

    	<div class="detail-info-bar">
	    	<div class="row">

	    		<div class="col-sm-10 col-sm-offset-1">
	    			<div id="private-namespace-holder">
		    			<div class="row"><p class="label label-default">Private Sharing URL</p></div>
			    			<div class="row">
			    				<div class="col-sm-12">
								      <span id="namespace-detail-project-path" class="" type="text">Private Path</span>
			    				</div>
			    			</div>
		    			</div>
						<div class="row"><p class="label label-default">Public Sharing URL</p></div>
	    	    	<div class="row">
		    	    	<div class="col-sm-12">
		    	    		<div class="input-group">
								<span id="namespace-detail-public-path" class="" type="text">No Public Path</span>
						    </div>
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
		<div class="row">
			<div class="col-sm-12">
		        <div class="namespace-detail-data">
		        	<div class="row">
		        		<div class="col-sm-12">
		        			<span class="lead">Details</span><span id="namespace-busy-spinner" class="lead lead-badge">Updating <i class="fa fa-cog fa-spin fa-1x fa-fw"></i></span>
		        		</div>
		        	</div>
		        	<div class="row">
		        		<div class='col-xs-3'><p>File Count</p></div><div class='col-xs-9'><p><span id="namespace-net-count"></span> files in <span id='namespace-subfolder-count'></span> sub-folders</p></div>
		        	</div>
		        	<div class="row">
		        		<div class='col-xs-3'><p>Net Size</p></div><div class='col-xs-9'><p><span id="namespace-net-size"></span></p></div>
		        	</div>
		        	<div class="row">
		        		<div class='col-xs-3'><p>Creator</p></div><div class='col-xs-9'><p><span id="namespace-creator-name"></span></p></div>
		        	</div>        	
					<div class="row">
		        		<div class='col-xs-3'><p>Creation Time</p></div><div class='col-xs-9'><p><span id="namespace-created"></span></p></div>
		        	</div>
					<div class="row">
		        		<div class='col-xs-3'><p>Last Modified</p></div><div class='col-xs-9'><p><span id="namespace-last-modified"></span></p></div>
		        	</div>
		        	<div class="row">
		        		<div class='col-xs-3'><p>Project</p></div><div class='col-xs-9'><p><span id="namespace-store-name"></span></p></div>
		        	</div>
		        </div>
			</div>
		</div>
	</div>
	</div>
    </div>
    </div>
</div>

<!-- file metadata modal view -->
<div class="modal fill-vertical" id="modal-datametaview"  tabindex="-1" role="dialog" aria-labelledby="modal-metadataview-label" aria-hidden="true">
    <div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header">
				<div class="detail-info-bar">
			    	<div class="row no-margins">
			    		<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i><span class="sr-only">Close</span></button>

<!-- "DS-552" + "Oct 2024" disable thumbnails -->
<!--
			    		<div class="col-sm-4 no-padding">
							<div id="detail-preview" class="object-centered">
							    <img id="thumbnail-image" class="thumbnail-image hidden" src=''>
								<div id="thumbnail-spinner" class="thumbnail-spinnner-view"><i class="fa fa-refresh fa-spin fa-3x fa-fw white"></i><p>loading</p></div>
  							</div>
  			    		</div>
-->
			
			    		<div class="col-sm-8 detail-header-info">
			    			<div class="row no-margins">
				    			<div class="col-sm-12">
			    					<p class="detail-lead" id="detail-filename">Filename</p>
				    			</div>
			    			</div>
			    			<div class="row no-margins">
				    			<div class="col-sm-12">
			    					<p class="label label-default">Private Sharing URL</p>
				    			</div>
			    			</div>
			    			<div class="row no-margins">
			    				<div class="col-sm-12">
								      <p id="detail-project-path"></p>
			    				</div>
			    			</div>
							<div class="row no-margins">
								<div class="col-sm-12">
									<p class="label label-default">Public Sharing URL (https, wget)</p>
								</div>
							</div>
			    	    	<div class="row no-margins">
				    	    	<div class="col-sm-12">
									<p id="detail-public-path"></p>
								</div>
			    			</div>
			    		</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-primary" id="detail-download-asset"><i class="fa fa-download"></i> Download</button>				    	    		  		
						<button class="btn btn-warning" id="public-file-toggle-button"><i class="fa fa-share"></i> Share this file</button>
					</div>
				</div>
			</div>
			<div class="detail-modal-body">
				<div class="row">
					<div class="col-sm-12 detail-table-view" id="metadata-table"></div>
				</div>
		    </div>
	    </div>
    </div>
</div>

<!-- interface for delete modal -->
<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myDeleteModalLabel"><i class="fa fa-exclamation-triangle"></i> Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete the listed files.</p><p><strong>This cannot be undone. If you hit Confirm, these files will be permanently deleted.</strong></p>
                <table class="table" id="tblModalText">
                    <thead><tr><th> File/Folder Name </th><th> Status </th></tr></thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModal_Cancel">Cancel</button>
                <button type="button" class="btn btn-danger" id="btnModal_Confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>


<!-- modal to display liveARC commmand fail alert messages -->
<div class="modal fade" id="myAlertMessageModal" tabindex="-1" role="dialog" aria-labelledby="myAlertMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Sorry, something went wrong</h4>
            </div>
            <div class="modal-body">
                <h4>What went wrong? <span id="alert_error_human_text"></span></h4>
                <h4>Detailed error message</h4>
                <p class="modal_detail_error" id="alert_error_detail_text"> </p>
                <a id="error-email-link" href="mailto:data@ivec.org&subject=Data%20Website%20Error&body=Body-goes-here"><i class="fa fa-envelope-o"></i> Send all this to us and tell us what you were trying to do.</a>
            </div>
        </div>
    </div>
</div>

<!-- interface for moving file help ui -->
<div id="moving-file-popover-help-content" style="display:none">
	<p>1. Select the files/folders you want to move.</p>
	<p>2. Tap the Move file/folders button, you will see the count of files to move.  Tap the count to see a list of the files/folders being moved.</p>
	<p>3. Navigate to the destination folder and click the 'Move to ...' button.</p>
	<p class="btn btn-default btn-block" id="close-move-help" >Got it</p>
</div>


<!-- interface for moving file list ui -->
<div id="moving-file-popover-content" style="display:none">
	<div class="moving-file-list-style" id="moving-file-list"></div>
	<p class="btn btn-default btn-block" id="close-move-list" >Got it</p>
</div>

<!-- interface for new directory name, loaded from click on #show-new-namespace-button -->
<div id="new-namespace-popover-content" style="display:none">
	<p><input id="new-namespace-input" L="text" class="form-control" placeholder="new folder name" onfocus="this.select();"></p>
	<p><button class="btn btn-default disabled" id="new-namespace-button">create</button> <button class="btn btn-default pull-right" id="cancel-namespace-button">cancel</button></p>
</div>

<!-- interface for file list generation  -->
<div id="generate-filelist-content" style="display:none">
	<div class="" id="filelist-item-count">### items</div>
	<p>Click 'Download' to generate a file containing full paths for all items listed.</p>
	<p class="btn btn-default btn-block" id="generate-download-list" ><span id="list-download-start">Download</span> <span id="list-download-progress" class="hidden">Preparing<i id="filelist-spinner" class="fa fa-spin fa-fw"></i></span></p>
	<p class="btn btn-warning btn-block" id="cancel-download-list" >Cancel</p>
</div>

<!-- expanded search file -->
<div class="hidden" id="refine-search-popover">
	<div class="row">
		<div class="col-xs-12">
			<span class="popup-title">Refine Search</span><i id="close-expanded-search-button" class="pull-right fa fa-times"></i>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h5>by file type (select to refine)</h5>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<ul id="ulFileType" class="list-group">
				<li class="list-group-item li-filetype">None to show</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h5>by file size</h5>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="input-group">

				<input id="input-filesize-min" type="text" class="form-control" placeholder="min" onfocus="this.select();">
				<div class="input-group-btn">
					<div class="btn-group">
						<button type="button" id="min_selected_size_display" class="btn btn-default dropdown-toggle" data-sizetype="KB" data-toggle="dropdown" aria-expanded="false">
							KB <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" id="min_selected_size_selector">
							<li><a href="#">KB</a></li>
							<li><a href="#">MB</a></li>
							<li><a href="#">GB</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="input-group">

				<input id="input-filesize-max" type="text" class="form-control" placeholder="max" onfocus="this.select();">

				<div class="input-group-btn">
					<div class="btn-group">
						<button id="max_selected_size_display" type="button" class="btn btn-default dropdown-toggle" data-sizetype="KB" data-toggle="dropdown" aria-expanded="false">
							KB <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li class="selected"><a href="#">KB</a></li>
							<li><a href="#">MB</a></li>
							<li><a href="#">GB</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--
	<div class="row">
		<div class="col-xs-12">
		    <button id="search-filesize-button" class="btn btn-default btn-block" type="button">Update</button>
		</div>
	</div>
-->
	<h5>by date modified</h5>
	<div class="form-group row">
		<div class="col-xs-12">
		    <div class="input-group date" data-date-format="dd-M-yyyy">
		        <input class="form-control" type="text" readonly="" placeholder="From" id="dpFilterFrom" onfocus="this.select();">
		        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    </div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-12">
		    <div class="input-group date" data-date-format="dd-M-yyyy">
		        <input class="form-control" type="text" readonly="" placeholder="To" id="dpFilterTo" onfocus="this.select();">
		        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    </div>
		</div>
	</div>
<!--
	<div class="row">
		<div class="col-xs-12">
		    <button id="search-datefilter-button" class="btn btn-default btn-block" type="button">Update</button>
		</div>
	</div>
-->
</div>


<script type="text/javascript">
    $(document).ready(function () {
    	
    	update_status();
		$( "#file-display").hide();
    	
    	initialise_data_browser();
                      

		$('body').popover({
			selector: '[rel=popover]'
		});
		
		$('[data-toggle="popover"]').popover();
    });

</script>
