<h2>Documentation</h2>

This page describes how to start using iVEC's data services to transfer and manage your data. The primary services are:
<ul>
<li>The Data Browser</li>
<li>A WebDAV connection</li>
</ul>

<h3>Data Browser</h3>

Any standard browser can be used to search and download data by logging in with your iVEC username and password.
<p>
Current features: navigation, search, download single files or a zipped archive.
<p>
Planned features: public sharing, file uploads.

<h3>WebDAV</h3>

This is the recommended method for transferring relatively few files that are individually no bigger than a couple of GB.
<p>
It involves mounting the data portal as a remote (network) drive on your computer. Files can then be dragged and dropped to and from this drive.
<p>
The connection process is slightly different depending on the Operating System you are using.

<h4>Connecting with OS-X</h4>
<ul>
<li>Open a Finder window
<li>Select "Connect to Server" (shortcut cmd-K)
<li>Enter the URL: <b>https://data.ivec.org/webdav/</b> and click Connect
<li>Use your iVEC username and password to authenticate</li>
</ul>

<h4>Connecting with Windows</h4>
<ul>
<li>Open the Start Menu</li>
<li>Select "Computer"</li>
<li>Select "Map Network Drive"</li>
<li>Choose an unused drive letter and enter <b>\\data.ivec.org@SSL\webdav\</b> and click Finish</li>
<li>Use your iVEC username and password to authenticate</li>
</ul>

<h4>Connecting with Linux</h4>

Linux is unsupported at this time, although command line tools can be made available (see alternative interfaces.)

<h3>Alternative interfaces</h3>

Contact us for alternative file transfer methods including command line and scripted ingestion.

<h3>Known Issues</h3>

<h4>OS-X</h4>

The parent directory is incorrectly shown along with its children.
<p>
.DS_store files are being automatically created.
	Prevent this by running in a terminal: <b>defaults write com.apple.desktopservices DSDontWriteNetworkStores true</b>

<h4>Windows</h4>

If you encounter a file size problem (can't transfer files over a few MB) then you will have to perform the following procedure:
<p>
	1. Press the Window's key and R to bring up the Run Command dialog and type in <b>regedit</b>
<p>
	2. Navigate to: HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\WebClient\Parameters\
<p>
	3. Right click on FileSizeLimitInBytes and select Modify
<p>
	4. Click on Decimal and enter a value of 4294967295 (4GB) then select OK
<p>

If you encounter very slow performance, then try:
<p>

	1. In Internet Explorer, open the <i>Tools</i> menu and select <i>Internet Options</i>
<p>
	2. Go to the <i>Connections</i> tab
<p>
	3. Click the <i>LAN</i> settings button
<p>
	4. Uncheck the <i>Automatically detect settings</i> box
<p>
	5. Select OK until the changes have been saved
<p>
