
<div class="container">
	<div class="tab-content" id="help-add-quota">

	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>How do I increase the storage quota of my project?</h1>
		</div>
	</div>
	</div>
	<br>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Contact us</p>
		</div>
		
		<div class="col-sm-8">	
		    <p>Email data@pawsey.org.au explaining the situation. You will be notified if this is possible.</p>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
</div>

