<div class="tab-content" id="help-waiting">
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>I've submitted my application, what now?</h1>
		</div>
	</div>
</div>
<br>

<div class="container">	
	<row>
		<div class="col-sm-3">
	    	<p class="lead">How long do applications take to get reviewed?</p>
		</div>
		
		<div class="col-sm-8">
			
		    <p>Typically, applications can take up to a month to be reviewed. This may vary slightly depending on the number of applications currently being considered.</p>
		    <p>You will get a notification of the outcome via email.</p>
			<div class="alert alert-info">
				<strong>Important!</strong> We require an institutional email address to verify identity of all researchers using Centre facilities in all cases. Please make sure you apply with your institutional email address. 
			</div>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	
	<row>
		<div class="col-sm-3">
			<p class="lead">My application was successful, what next?</p>
		</div>
		<div class="col-sm-8">
			<div class="row">
			<p>After the signed declaration has been received, the storage allocation for your project is configured.</p>
			<p>You will be notified by email when it is ready for use.</p>
			</div>
			<div class="row">
				<p class="lead">How long will I need to wait?</p>
				<p>This stage should take no more than a week but, again, can take longer depending on the number of applications currently being processed.</p>
			</div>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	
</div>