
<div class="container">
	<div class="tab-content" id="help-add-users">

	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>How do I add users to my project?</h1>
		</div>
	</div>
	</div>
	<br>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Adding a researcher to my project</p><p>[Updated 24 Feb 2015] </p>
		</div>
		
		<div class="col-sm-8">	
			<div class="alert alert-danger" role="alert"><strong>Users on your projects</strong> When you add researchers to your project you are authorising those people to have 
			complete access to your project.  This includes the ability to <strong>delete your data</strong>.  Managing users on your project remains your responsibility.</div>
			  <p>If you are a Principal Investigator (PI) you have the authority to add and remove users from your project and decide what kind of access (read-write or read-only) that they should have.</p>
		    <p>In the membership view you can see current project members.  If you are the PI you will see buttons to add and remove users from your projects.  To be added to a project a user must have a Pawsey Supercomputing Account with
			    a username and password.  Your project users will need to inform you of their usernames to be added to your project.  All questions regarding Centre accounts should be directed to: <strong>help@pawsey.org.au</strong>.</p>
			
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Adding a collaborator to my project</p>
		</div>
		
		<div class="col-sm-8">			

		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
</div>

