<div class="container">
<div class="tab-content" id="help-user">
	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>Getting started as a new user</h1>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-sm-3">
    	<p class="lead">1. The tools you need</p>
	</div>
	
	<div class="col-sm-8">
		
	    <p>There are two supported tools for interacting with the data store.</p>
	    <ol><li>A modern web browser with Javascript support</li><li>Our command-line tool; <a href="/tools">grab it here</a></li></ol>
	</div>
</div>
<div class="row"><div class="col-sm-12"><hr></div></div>

<div class="row">
	<div class="col-sm-3">
    	<p class="lead">Double Click</p>
	</div>
	
	<div class="col-sm-8">
		<div class="row">
			<p class="lead">We're using double clicks!</p>
		</div>
	    <p>You may be used to a single click to open folders.  We're using double clicks for this now.</p>
	    <p><strong>The rationale:</strong> It has become clear that we needed to move away from the modal interface used previously, as the modal inferface can't scale to support to range
		    of functionality we plan for the future.  We needed to differentiate between selecting and opening folders and files with modes, so we decided to use a single click to select 
		    an item, and double click to open.</p>  
	</div>
</div>
<div class="row"><div class="col-sm-12"><hr></div></div>


<div class="row">
	<div class="col-sm-3">
		<p class="lead">2. Browsing and Downloading with the website</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<p class="lead">A quick tour of the website</p>
		</div>
		<div class="row">
			<div class="alert alert-info" role="alert"><strong>Supported Browsers:</strong> Up-to-date versions of Chrome, Firefox, Opera, Safari and IE 10+</div>
		</div>
		<div class="row">
			<img class="img-responsive" src="/images/newdesign-annotated.png">
		</div>
		<div class="row">
			<br>
			<div class="col-sm-4"><p><strong><span class="circle-number">1</span> The navigation bar</strong></p><p>Top level navigation of the data website. On the left are the main website pages.  If you are logged in you'll see the button to your profile on the right.</p></div>
			<div class="col-sm-4"><p><strong><span class="circle-number">2</span> The file browser</strong></p><p>The main file browser: Click to select, double click to open/view. Mouse-over a file or folder and click rename to changed the name of a file or folder.</p></div>
			<div class="col-sm-4"><p><strong><span class="circle-number">3</span> The search tool</strong></p><p>Enter some text, hit return and see search results for the project/s for which you have access. Click the down arrow for expanded search controls.</p></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><p><strong><span class="circle-number">4</span> Main file actions</strong></p><p>Select file/s and/or folders and tap these items to perform the indicated action for your files/folders. All actions are recursive if you have selected folders.</p></div>
			<div class="col-sm-4"><p><strong><span class="circle-number">5</span> Other actions</strong></p><p>Actions that are not dependant on selection in the file browser view.</p></div>
			<div class="col-sm-4"><p><strong><span class="circle-number">6</span> Current activity</strong></p><p>This shows current upload activity.  Click this to expand the upload interface.</p></div>
		</div>

	</div>
</div>

<div class="row"><div class="col-sm-12"><hr></div></div>


<div class="row">
	<div class="col-sm-3">
    	<p class="lead">3. Anatomy of a browser row</p>
	</div>

	<div class="col-sm-8">
		<div class="row">
			<p class="lead">Working with files/folders in the browser</p>
		</div>
		<div class="row">
			<img class="img-responsive" src="/images/anatomy-filerow.png">
		</div>
		<div class="row">	
			<div class="col-sm-12"><p><strong><span class="circle-number">1</span> Rename file and folders</strong></p><p>As you move the mouse over a file or folder entry you will see the rename button appear.  Click the button to make the file/folder name editable.  When you're done click the tick, or hit return.  If you cancel the rename (X) the original name is restored. Note: you can't use this tool to rename your project folder.</p></div>
			<div class="col-sm-12"><p><strong><span class="circle-number">2</span> Alternate buttons to double click</strong></p><p>These buttons give you an alternative to double clicking.  The left button opens an info pane for files and folders.  The right button opens folders (so you won't see this button for files).</p></div>

		</div>
	</div>
</div>

<div class="row"><div class="col-sm-12"><hr></div></div>


<div class="row">
	<div class="col-sm-3">
    	<p class="lead">4. The file action tools</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<p class="lead">Working with selected files/folders</p>
		</div
		<div class="row">	
			<div class="col-sm-12"><p>There are several tools available and active for selected files and/or folders.  As you select (and deselect) files and folders the actions will become active (inactive) for use.</p></div>
			<div class="col-sm-12"><p><strong>Select All</strong> Use the 'files' and 'folders' buttons to select all files and folders in the currently visible folder.  Be aware that the file view uses pagination and all items on all 'page' will be selected.</p></div>
			<div class="col-sm-12"><p><strong>Clear current selection</strong> All selected files/folders are unselected.</p></div>
			<div class="col-sm-12"><p><strong>Move files/folders</strong> Selected items are staged for moving to a new folder.  Navigate to the destination folder in the file view and click "Move here".</p></div>
			<div class="col-sm-12"><p><strong>Make file public</strong> Selected items are made public (viewable by unauthorized users). If you select folders, they will be recursively made public. (not that folders cannot be made public, only files).</p></div>
			<div class="col-sm-12"><p><strong>Make files private</strong> Any selected files (or files in selected folders) made public will be returned to private status (viewable only by authenticated members of your project.</p></div>
			<div class="col-sm-12"><p><strong>Download selected items</strong> Selected items are downloaded.  Folders cannot be downloaded in this way (they must be downloaded as zip files) so if you select a folder, this item will be inactive.</p></div>
			<div class="col-sm-12"><p><strong>Download selected as zip file</strong> Active for use if you select a folder or several files.  A zip file will be generated and downloaded.</p></div>
			<div class="col-sm-12"><p><strong>Download selected items</strong> Delete all selected files and folders.  If you select and delete folders all the subfolders and files in that folder are deleted. <strong>Deletes cannot be undone</strong></p></div>
		</div>
	</div>
</div>


<div class="row"><div class="col-sm-12"><hr></div></div>


</div>
