
<div class="container">
	<div class="tab-content" id="help-no-app">

	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>I'm thinking about using Pawsey Supercomputing Centre for my research data storage...</h1>
		</div>
	</div>
	</div>
	<br>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">1. Check our storage policy</p>
		</div>
		
		<div class="col-sm-8">
		    <p>Before you get started, check that the Centre's Data Management Policy is compatible with your requirements. [<a href="http://www.ivec.org/services/data-storage/" target="_blank">Link</a>]</p>
		    <p>Still got questions? Email data@pawsey.org.au and we'll help.</p>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">2. Apply</p>
		</div>
		
		<div class="col-sm-8">

		    <p>Fill out a storage application form [<a href="http://www.ivec.org/services/data-storage/data-stores-ivec-application-form/" target="_blank">Application</a>]</p>

		</div>
	</row>

</div>

