
<div class="container">
	<div class="tab-content" id="help-command-line">

	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>How do I use the command line tool?</h1>
		</div>
	</div>
	</div>
	<br>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">1. Overview </p>
		</div>
		
		<div class="col-sm-8">
		    <p>The command line tool (ashell.py) provides an SFTP-like interface to data storage at the Pawsey Supercomputing Centre. It can be used interactively or in a script, making it suitable for automating parts of your workflow. Some machines, such as Magnus, do not allow certain programs to run interactively. This means a submitted job script (containing ashell.py commands) may be the only option for transferring data to and from your Centre storage allocation.</p>
            <p>All the commands that you can input to ashell.py are documented within ashell.py itself and can be accessed by typing <b>help</b> at the command prompt.</p>
			<p>The required files (ashell.py and aterm.jar) can be downloaded from <a href="https://data.ivec.org/public/?path=/Data Team/scripts">here</a></p>

		</div>
	</row>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">2. Getting started</p>
		</div>
		
		<div class="col-sm-8">
		    <p>The command line tool requires that its companion java library (aterm.jar) be installed in the same directory. You will also need python 2.x (at minimum 2.7.5) and a recent version of java. These items can be tested by opening a command terminal and typing "python --version" and "java -version". If you see an older version, or recieve a not found error then you will need to reinstall.</p>

            <p>If you are using a Pawsey Supercomputing Centre machine, python and java should already be available - but you may need to run "module load python" or "module load java" first.</p>
            <p>Also, the top line of ashell.py should reflect where python is located on the machine. Normally, the default will be fine but in some cases - in particular cortex.ivec.org - it will need to be edited as follows:</p>

			<p>
			<b>default location</b><br>
			<code>
			#!/usr/bin/python<br>
			</code>
			</p>

			<p>
			<b>cortex.ivec.org</b><br>
			<code>
			#!/opt/python-2.7.8/bin/python<br>
			</code>
			</p>

		<p>In the case of OS-X, Unix and Linux machines, all you need to do is run the following just once:</p>
		<code>
		chmod u+x ashell.py<br>
		</code>

		<p>Subsequently, you can then start the command line tool in interactive mode as follows:</p>
		<code>
		./ashell.py<br>
		ivec:offline><br>
		</code>

		<p>For Windows machines, you will always run the command line tool using:</p>
		<code>
		python ashell.py<br>
		ivec:offline><br>
		</code>

		</div>
	</row>


	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">3. Authentication</p>
		</div>
		
		<div class="col-sm-8">
		    <p>In most cases, the first thing you will need to do is establish a connection to the data storage at the Centre. Do this by typing <b>login</b> and then entering your Centre account details.</p>
			<code>
			ivec:offline>login<br>
			Username: sean<br>
			Password: <br>
			ivec:online><br>
			</code>
			<br>

                    <p>Note that the prompt indicates if you are logged in (online) or not (offline.)<p>
                    <p>Every login will persist until your session is idle for more than a few minutes. This means you can exit the script and then immediately run it again without needing to login.</p>

			<code>
			ivec:online>exit<br>
			ashell.py status<br>
			Current ivec server https://data.ivec.org 443<br>
			    :actor -id "28" -type "user" -name "ivec:sean"<br>
			        :role -id "180" -type "domain" "ivec"<br>
			        :role -id "8" -type "role" "user"<br>
			        :role -id "1232" -type "role" "DATA-TEAM-owner"<br>
			</code>
			<br>

			<p>If you wish to completely terminate your current connection to iVEC data storage then use the <b>logout</b> command.</p>

		</div>
	</row>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">4. Navigating and Transferring Data</p>
		</div>
		
		<div class="col-sm-8">
			<p>
			To begin moving files you will need to understand how to navigate the local file system (ie where the ashell.py script is running) and how to navigate the remote file system (ie your data storage allocation at iVEC.) To make this clear, the convention of referring to directories (d) for the local file system and folders (f) for the remote file system is used.</p>

			<p>Here's an example of navigating to a local directory and showing its contents:</p> 

			<code>
			ivec:online>cd /home/sean/temp<br>
			/home/sean/temp<br>
			<br>
			ivec:online>pwd<br>
			/home/sean/temp<br>
			<br>
			ivec:online>ls<br>
			local_file.txt<br>
			</code>
			<br>

			<p>The equivalent commands for remote folders (ie your data storage allocation at iVEC) are:</p>

			<code>
			ivec:online>cf /projects/Data Team/sean<br>
			/projects/Data Team/sean<br>
			<br>
			ivec:online>pwf<br>
			/projects/Data Team/sean<br>
			<br>
			ivec:online>lf<br>
			[/projects/Data Team/sean]<br>
			id=1377962    crc32=DE2C63B    bytes=25567           atest.py<br>
			id=1499320    crc32=FF58AF23   bytes=49256           ashell.py<br>
			</code>

			<br>

			<div class="alert alert-info">
			<strong>The command line tool remembers your current working directory (pwd) and working folder (pwf) and uses these as default locations for all file operations, including: listing, uploading and downloading.</strong>
			</div>

			<p>To upload files you can use the put command on a single file or with simple patterns:</p>

			<code>
			ivec:online>put /home/sean/test_file1.txt<br>
			test_file1.txt                           [id=2199160] done<br>
			ivec:online>lf<br>
			[/projects/Data Team/sean]<br>
			id=2199160    crc32=ED6F7A7A   bytes=3               test_file1.txt<br>
			<br>
			ivec:online>put *.txt<br>
			Uploading 3 files.<br>
			test_file1.txt                           [id=2199160] done<br>
			test_file2.txt                           [id=2199165] done<br>
			test_file3.txt                           [id=2199166] done<br>
			ivec:online>lf<br>
			[/projects/Data Team/sean]<br>
			id=2199160    crc32=ED6F7A7A   bytes=3               test_file1.txt<br>
			id=2199165    crc32=BC3C7520   bytes=3               test_file2.txt<br>
			id=2199166    crc32=F150F2FF   bytes=4               test_file3.txt<br>
			</code>
			<br>

			<p>You can also upload entire directories:</p>

			<code>
			ivec:online>put test_directory<br>
			Import completed in 1 seconds.<br>
			ivec:online>lf<br>
			[/projects/Data Team/sean]<br>
			[Folder] test_directory<br>
			<br>
			ivec:online>cf test_directory<br>
			/projects/Data Team/sean/test_directory<br>
			ivec:online>lf<br>
			[/projects/Data Team/sean/test_directory]<br>
			id=2199168    crc32=BC3C7520   bytes=3               another_file.txt<br>
			</code>
			<br>

			<p>Similarly, the get command can be used to retrieve files from your iVEC data storage as follows:</p>

			<code>
			ivec:online>cf ..<br>
			/projects/Data Team/sean<br>
			<br>
			ivec:online>get *.txt<br>
			Downloading 3 matches.<br>
			Downloading asset id=2199160 to [/home/sean/temp/test_file1.txt]<br>
			Downloading asset id=2199165 to [/home/sean/temp/test_file2.txt]<br>
			Downloading asset id=2199166 to [/home/sean/temp/test_file3.txt]<br>
			</code>

			<p>If you download a remote folder, the entire contents will be retrieved in the form of a zip archive.<p>

			<code>
			ivec:online>get test_directory<br>
			Downloaded to: test_directory.zip<br>
			<br>
			ivec:online>exit<br>
			unzip -v test_directory.zip<br>
			Archive:  test_directory.zip<br>
			 Length   Method    Size  Ratio   Date   Time   CRC-32    Name<br>
			--------  ------  ------- -----   ----   ----   ------    ----<br>
			       3  Defl:N        5 -67%  10-16-14 15:51  bc3c7520  projects/Data Team/sean/test_directory/test_file2.txt<br>
			       4  Defl:N        6 -50%  10-16-14 15:51  f150f2ff  projects/Data Team/sean/test_directory/test_file3.txt<br>
			       3  Defl:N        5 -67%  10-16-14 15:51  ed6f7a7a  projects/Data Team/sean/test_directory/test_file1.txt<br>
			--------          -------  ---                            -------<br>
			    8590             3872  55%                            3 files<br>
			</code>
			<br>
			<div class="alert alert-info">
			<strong>Remember that you use "get" to download data and "put" to upload data.</strong>
			</div>

		</div>
	</row>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">5. Managing your data</p>
		</div>
		
		<div class="col-sm-8">
			<p>New folders can be created:</p>
			<code>
			ivec:online>mkfolder new folder<br>
			ivec:online>lf<br>
			[/projects/Data Team/sean]<br>
			[Folder] new folder<br>
			</code>

			<p>File and folders may also be deleted:</p>
			<code>
			ivec:online>rf *.txt<br>
			Remove 3 files: (y/n) y<br>
			<br>
			ivec:online>rf new folder<br>
			Remove remote folder: /projects/Data Team/sean/new folder (y/n) y<br>
			</code>
			<br>
			<div class="alert alert-info">
			<strong>Deleted data can NOT be recovered.</strong>
			</div>
		</div>
	</row>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">6. Scripting</p>
		</div>
		
		<div class="col-sm-8">
		<p>In most cases, commands that can be entered interactively can also be placed in a script. Here's an example of a job script suitable for submitting to PBS on epic.ivec.org:</p>
			<code>
			#PBS -N test<br>
			#PBS -W group_list=my_group<br>
			#PBS -q copyq<br>
			#PBS -l walltime=02:00:00<br>
			#PBS -l mem=4gb<br>
			<br>
			# enable java<br>
			module load java<br>
			# change to where ashell.py and aterm.jar are stored locally<br>
			cd /home/sean/bin<br>
			# authenticate<br>
			ashell.py "login my_username my_password"<br>
			# change remote folder and upload<br>
			ashell.py "cf /projects/my project/ + put *.zip"<br>
			</code>
		<br>

		<p>There are a few things to grasp from this example.</p>
		<div class="alert alert-info">
		<strong>1. The command arguments supplied to ashell.py must be double-quoted.</strong>
		<br>
		<strong>2. Each line of a script that runs an ashell.py command is a separate instance - which means defaults, such as the current working directory and folder, will be reset.</strong>
		</div>

		<p> The second point is illustrated by the use of + to separate two (or more) distinct commands that we wish to be executed in the same instance of ashell.py. If our script looked like this:</p>	

		<code>
		ashell.py "cf /projects/my project"<br>
		ashell.py "put *.zip"<br>
		</code>
		<br>

		<p>This would not work as ashell.py would be run once - where it changes to the remote folder /projects/my project then it would exit. Then, when the second ashell.py command is run it would fail as the default folder /projects is not writable by the put command.</p>

		<p>More complex workflows can also be scripted. For example, we may wish to terminate a job early if an unexpected error is encountered downloading or uploading files. In these cases, simply check the exit codes that ashell.py returns for success (0) or failure (non-zero).</p>

		<p>Here is an example script for attempting to download 2 files, one of which succeeds whilst the other fails:</p>

		<code>
		module load java<br>
		cd /home/sean/bin<br>
		<br>
		ashell.py "cf /projects/Data Team/sean + get i_dont_exist.txt"<br>
		<br>
		if ($? == 0) then<br>
			echo "transfer 1 succeeded"<br>
		else<br>
			echo "transfer 1 failed"<br>
		endif<br>
		<br>
		ashell.py "cf /projects/Data Team/sean + get i_do_exist.txt"<br>
		<br>
		if ($? == 0) then<br>
			echo "transfer 2 succeeded"<br>
		else<br>
			echo "transfer 2 failed"<br>
		endif<br>
		</code>
		<br>

		<p>This produces:</p>

		<code>
		Error encountered executing: [ get i_dont_exist.txt]<br>
		Download failed searching for: /projects/Data Team/sean/i_dont_exist.txt<br>
		transfer 1 failed<br>

		Downloading [id=2199757] to: /home/sean/bin/i_do_exist.txt<br>
		transfer 2 succeeded<br>
		</code>
		<br>

		<div class="alert alert-info">
		<strong>The above example is for scripting with tcsh. If you use bash or some other shell you will need to adjust the syntax; but the overall approach will remain the same.</strong>
		</div>

		</div>
	</row>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">7. Delegating your identity</p>
		</div>
		
		<div class="col-sm-8">
			<p>If you are doing a lot of scripting, it is undesirable to populate every job script with your login details. This is where delegation (which is similar to using SSH keys) becomes useful.</p>
			<br>

			<div class="alert alert-info">
			<strong>Delegate credentials are binary tokens that reside in the home directory of the user that creates them and enable anyone logged into your account (on that machine) to act as you in terms of data permissions.</strong>
			</div>

			<p>Here's an example of creating a delegate credential that lasts for approximately one month:</p>
			<code>
			ivec:online>delegate 30<br>
			    :actor -id "28" -type "user" -name "ivec:sean"<br>
			Are you fully aware of the security implications (contact data@ivec.org if unsure) of using delegate credentials: (y/n) y<br>
			Delegating for: ivec:sean<br>
			Delegating until: 15-Nov-2014 17:20:10<br>
			Getting user roles...<br>
			role: [user]<br>
			role: [DATA-TEAM-owner]<br>
			</code>
			<br>

			<p>From now on, until the delegate expires, there is no need to login to data storage at the Centre from this account on the machine where this was run. Consequently, any scripts that are run from here can be ammended to remove <b>login username password</b> references as the delegate will automatically be used instead.</p>
			<p>Finally, to destroy all delegate credentials, use:</p>

			<code>
			ivec:online>delegate off<br>
			Delegate credentials removed.<br>
			</code>

		</div>
	</row>

	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">8. Troubleshooting</p>
		</div>
		
		<div class="col-sm-8">
			<p>If you encounter any issues, first ensure that you are using the latest ashell.py and aterm.jar.</p>
			<p>You should also run ashell.py in debugging mode to obtain more information:</p>
			<p><code>ashell.py -d</code></p>
			<p>Then contact data@pawsey.org.au and provide as much detail as possible about what went wrong.</p>
		</div>
	</row>

</div>

