<div class="container">
	<h1>Data@ iVEC Help: Howto get help</h1>
	
	<div class="alert alert-info">
		    	<strong>Important!</strong> This is something you need to pay attention to.
	</div>
	
	<row>
		<div class="col-sm-3">
	    	<p class="lead">1. Do the first thing first</p>
		</div>
		
		<div class="col-sm-8">
			<p class="lead">Title for the first thing</p>
			
		    <p>Some useful help.</p>
		    <p>Some extended info 
		    <div class="alert alert-info">
		    	<strong>Important!</strong> Something to be extra highlighted
		    </div>
		    </p>
		    <p>In summary, you are helped</p>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	
	<row>
		<div class="col-sm-3">
			<p class="lead">2. Then do the other thing</p>
		</div>
		<div class="col-sm-8">
			<row>
			<p class="lead">That second thing title</p>
			</row>
			<row>
			<p>All that other help palaver.</p>
			<img src="http://placekitten.com/g/200/300">
			<p>pictures are great</p>
			</row>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Next Steps</p>
		</div>
		
		<div class="col-sm-8">
			<p>A linked to something else related</p>
		</div>
	</row>
</div>
