<div class="container">
<div class="tab-content" id="help-user-upload">
	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>How do I upload files?</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
    	<p class="lead">1. Website or commandline?</p>
	</div>
	
	<div class="col-sm-8">
		
	    <p>There are two supported tools for interacting with the data store.</p>
	    <ol><li>A modern web browser with Javascript support</li><li>Our command-line tool; <a href="/tools">grab it here</a></li></ol>
	</div>
</div>
<div class="row"><div class="col-sm-12"><hr></div></div>



<div class="row">
	<div class="col-sm-3">
		<p class="lead">1. Uploading with the website</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="row">
				<p class="lead">Uploading files</p>
			</div>
			<div class="alert alert-info" role="alert"><strong>Consider your data:</strong> Before you get started you should review the files you need to upload. <ul><li>You will get the best upload rates with our command-line tool.</li><li> Web upload is easiest for small to medium sized upload tasks. </li><li>If you have masses of small files you are going to get best performance by compressing them together with zip or tar.</li><li>Contact data@pawsey.org.au for advice if you're not sure how to proceed.</li></ul></div>
		</div>
		<div class="row">
			<p>Uploading files with the web site is very easy.  First, navigate to the destination directory in the file browser.  Second, drag the files to be uploaded from your computer desktop to the website and 'drop' them.  Use the upload interface to monitor your upload progress.</p>
		</div>
		<div class="row">
			<p class="lead">What can I drop?</p>
			<p>With most browsers you can drag and drop any kind of file from your computer to the website.  However, for most browsers dropping folders will cause an error. The exception to this is Google Chrome.  With the Chrome browser you can drag and drop folders from your desktop onto the browser. The files and folders within will be uploaded to the data system (recursively).
		</div>
		
		<div class="row">
			<p class="lead">The upload interface</p>

			<div class="col-sm-4">
				<img class="img-responsive" src="/images/upload-tiny-view.png">
			</div>
			<div class="col-sm-8">
				<p>At the bottom of the actions view is the 'Current Activity" view with an 'Uploads' view.  In includes a small progress meter (measured in terms of files uploaded).</p>
				<p>If you click on the Uploads button you will expose the upload view.  The small upload view shows an ETA and a progress meter.</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<p>The small upload view shows an ETA and a progress meter and the arrow button at the top opens the full page upload view.</p> 
				<img class="img-responsive" src="/images/upload-small-view.png">
			</div>
			<div class="col-sm-6">
				<img class="img-responsive" src="/images/upload-large-view.png">
				<p>The full page upload view shows all uploaded files with a timestamp.  If you have a problem with an upload we'll need the time and the filename to help diagnose any issues.</p>
			</div>
		</div>

	</div>
</div>
<div class="row"><div class="col-sm-12"><hr></div></div>

<div class="row">
	<div class="col-sm-3">
    	<p class="lead">Next Steps</p>
	</div>
	
	<div class="col-sm-8">
		<p class="lead">Logon and upload your files!</p>
	</div>
</div>


</div>
