
<div class="container">
	<div class="tab-content" id="help-manage-project">

	<div class="row">
		<div class="col-sm-3">
			<h3><a id="select-help-nav" href="#tab-help-nav" data-toggle="tab"><span class="help-back-box"><i class="fa fa-arrow-circle-left"></i> back</span></a></h3>
		</div>
		<div class="col-sm-8">
			<h1>How can I manage my project?</h1>
		</div>
	</div>
	</div>
	<br>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Head to the profile interface</p>
		</div>
		
		<div class="col-sm-8">
		    <p><img class="img-responsive" src="/images/profile-link.png"></p>

			<p>Click on the [ My Profile ] link at the top right of the screen.  If you don't see the profile link and your username, you're not logged in.  You will need to login
				using your Pawsey Supercomputing Centre name and password to get access to your project and related information.</p> 
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">An overview of the interface</p>
		</div>
		
		<div class="col-sm-8">
			<p>This is the main interface for project monitoring for Data projects at the Centre.  If you have membership in multiple projects you will be able to select which one you wish to view.  Otherwise
				you will be presented with the view for your project.</p>
			<p><img class="img-responsive" src="/images/profile-menu-bar.png"></p>

			<p>There are 4 main views:  (1) The Info view (2) The Membership view (3) The Activity view and (4) The Settings view.  The Info view gives you your project quota and other information we have on your project.  The other views are described below.</p>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Add and remove users</p>
		</div>
		
		<div class="col-sm-8">
		    <p>If you are a Principal Investigator (PI) you have the authority to add and remove users from your project and decide what kind of access (read-write or read-only) that they should have.</p>
		    <p>In the membership view you can see current project members.  If you are the PI you will see buttons to add and remove users from your projects.  To be added to a project a user must have a Pawsey Supercomputing Account with
			    a username and password.  Your project users will need to inform you of their usernames to be added to your project.  All questions regarding Centre accounts should be directed to: <strong>help@pawsey.org.au</strong>.</p>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Keep an eye on your project</p>
		</div>
		
		<div class="col-sm-8">
			<p><img class="img-responsive" src="/images/profile-audit-log.png"></p>
		    <p>The activity view for your project gives you tools to keep track of project activity. You can view events by type and/or user.  Please note this will show activity related to your project from the website and activity from the command-line client.</p>
		</div>
	</row>
	<row><div class="col-sm-12"><hr></div></row>
	<row>
		<div class="col-sm-3">
	    	<p class="lead">Modifying project settings</p>
		</div>
		
		<div class="col-sm-8">
		    <p>Data projects at the Pawsey Supercomputing Centre can share data with the world!  Before individual files can be shared and seen publicly the project PI must activate public access here.  This will not automatically make anything publicly available...you will still need to explicitly set files to be shared in the file browser.</p>
		</div>
	</row>
</div>

