
<div class="extend primary-banner">
	<div class="container">
		<div class="row row-centered">
			<div class="col-xs-12 col-sm-6 nogap-col col-centered left-small-col">
				<div class="item"><div class="content">
					<img class="img-responsive" src="/images/data-home-front-vertical-banner.png">
				</div></div>
				<div class="content">
					<div class="primary-login-container" id="frontpage-login-container">
						<div class="front-login-box">
							<div id="frontpage-error"></div>
				            <input name="user" type="text" id="frontpage-input-username" placeholder="username" onfocus="this.select();">
				            <input type="password" id="frontpage-input-password" placeholder="password" onfocus="this.select();">
				            <button class="btn btn-info btn-block login" id="frontpage-process-login-button" type="submit">Login</button>
				        </div>	        
				    </div>
				    
				    <div class="loggedin-message-container hidden" id="frontpage-loggedin-container">
					    <span class="lead"></span>
				    </div>
			</div>
			</div>
			<div class="hidden-xs col-sm-6 nogap-col col-centered">
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="item item-overlay" id="apply-block"><a class="item-link" href='https://apply.pawsey.org.au/' target="_blank"><div class="content">
				<p class="pawsey-label info-header pawsey-orange">APPLY</p>
				<p>If you need large scale storage for your research data you'll need to apply. Click here to get started.</p>
			</a></div></div>
		</div>
		<div class="col-sm-3 ">
			<div class="item item-overlay" id="my-data-block"><div class="content">
				<p class="pawsey-label info-header pawsey-orange">MY DATA</p>
				<p>Web based file upload and download, file sharing and file management tools for your data storage project at Pawsey.</p>
			</div></div>
		</div>
		<div class="col-sm-3 ">
			<div class="item item-overlay" id="tools-block"><div class="content">
				<p class="pawsey-label info-header pawsey-orange">TOOLS</p>
				<p>Info and downloads about alternate tools for working with Pawsey Supercomputing Centre storage facilities.</p>
			</div></div>
		</div>
		<div class="col-sm-3">
			<div class="item item-overlay" id="help-block"><div class="content">
				<p class="pawsey-label info-header pawsey-orange">INFO</p>
				<p>Information for researchers new to data services at the Pawsey Supercomputing Centre and help guides for current clients.</p>
			</div></div>

		</div>
	</div>
	</div>

<script type="text/javascript">
    $(document).ready(function () {
    	initialise_front_page();
    });

</script>