<div class="row">
	<div class="col-md-offset-1 col-md-5 intro-title-box">
	    <span class="intro-title text-center pawsey-orange">Welcome to the new PawseyData website</span>
	</div>
	<div class="col-md-5 intro-title-text-box">
		<p class="lead">We've made a new version of the data website for use with PawseyData storage facilities.  You'll first notice the new Pawsey Supercomputing Centre rebranding. The new logo, colours and name are all part of
			the centre-wide rebranding.</p>
	</div>
</div>
	
<div class="row"><div class="col-md-12"><hr></div></div>
<div class="row">
	<div class="col-md-offset-1 col-md-10  pawsey-orange text-center">
		<h1>There's a couple of things you need to know</h1>
	</div>
</div>
	

<div class="row"><div class="col-md-12"><hr></div></div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	    <h1>There's a new file manager</h1>
		<p class="lead">This new file manager includes many frequently requested features, such as recursive file sharing and file and folder renaming.  We've moved away from the 'modal' interface in previous
			versions of the interface to one where your tools and options are always visible on the main display.
		</p>
		<p class="text-center"><img class="img-responsive" src="/images/example-filemanager.png"/></p>
	</div>
</div>
	
<div class="row"><div class="col-md-12"><hr></div></div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>We're using double-click!</h1>
		<p class="text-center"><img class="img-responsive" src="/images/example-filerow.png"/></p>
		<p class="lead">To help streamline file and folder navigation you will now find that double-click now navigates into folders on the main view, and double clicking on files shows a quick view of file metadata.</p>
	</div>
</div>
	
<div class="row"><div class="col-md-12"><hr></div></div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	    <h1>There's more help, if you need it</h1>
		<p class="lead">We have expanded help documentation in the help tab (see the top of the screen).  If you're having trouble and can't find what you need here, email help@data.pawsey.org.au and we'll do our best to get you working.
		</p>
	    <hr>
	</div>
</div>
