<div>
<div class="container">
	<div class="row help-row-container">
		<div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 callout-light text-center fade-in-b">
			<h3>Having trouble with this website?</h3>
			<p>There's a few things you need to use the Pawsey Data Portal.</p>
			<div class="row">
				<div class="col-xs-6 help-info-block">
					<p class="help-block-title">A supported browser</p>
					<p>Internet Explorer 10+, Safari, Firefox or Chrome. Chrome is usually the best choice for full compatibility. Some users have reported switching from IE to Edge resolves some visibility issues.</p>
				</div>
				<div class="col-xs-6 help-info-block ">
					<p class="help-block-title">Javascript</p>
					<p>Keep it turned on. If you use a script manager/blocker, permit data.pawsey.org.au to use scripts.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row help-row-container">
		<div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 callout-light text-center fade-in-b">
			<h3>If you need to get in touch...</h3>
			<a href="mailto:help@pawsey.org.au?Subject=Help%20request" target="_top" class="btn btn-default"><i class="fa fa-envelope-o"></i> help@pawsey.org.au</a>		
		</div>
	</div>
</div>
</div>
