<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<span class="pawsey-label pawsey-orange page-title">[ NEWS ]</span>
		<hr>
	</div>
</div

<div class="row selectable">
	<div class="col-md-8 col-md-offset-2">
		<div class="row news">
		    <h2>The news page is moving</h2>
			<p>We've moved the news page to our main user documentation website.  You can find it now at <a href="https://support.pawsey.org.au/documentation/display/US/Website+news+and+updates" target="_blank">https://support.pawsey.org.au/documentation/display/US/Website+news+and+updates</a>
			</p>

		</div>

	</div>
</div>
