<div class="container-fluid">
		
	<div class="row" id="application-list-view"><div class="col-xs-12">
	<div class="row">
		<div class="col-xs-3">
			<p class="application-list-title">New Applications</p>
		</div>
		<div class="col-xs-9">
			<table class="table app-table application-list" id="application-list-new">
				<thead><tr><td>submission date</td><td>collection name</td><td>name</td><td>size</td></tr></thead>
				<tbody><tr><td>--</td><td>--</td><td>--</td></tr></tbody>
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-3">
			<p class="application-list-title">Approved Applications</p>
		</div>
		<div class="col-xs-9">
			<table class="table app-table application-list" id="application-list-approved">
				<thead><tr><td>approval date</td><td>collection name</td><td>name</td></tr></thead>
				<tbody><tr><td>--</td><td>--</td><td>--</td></tr></tbody>
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-3">
			<p class="application-list-title">Denied Applications</p>
		</div>
		<div class="col-xs-9">
			<table class="table app-table application-list" id="application-list-denied">
				<thead><tr><td>denial date</td><td>collection name</td><td>name</td></tr></thead>
				<tbody><tr><td>--</td><td>--</td><td>--</td></tr></tbody>
			</table>
		</div>
	</div>
	
	</div></div>
	
	
	<div id="application-detail-view" class="row application-detail-view hidden"><div class="col-xs-12">
	
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li ><a id="app-detail-backbutton" href="#"><i class="fa fa-chevron-left"></i> Back</a></li>
				</ul>	
				<ul class="nav navbar-nav navbar-right">
					<li><a id="app-detail-savebutton" href="#" class="hidden"><i class="fa fa-save"></i> Save Changes</a></li>
					<li><a id="app-detail-editbutton" href="#"><i class="fa fa-pencil"></i> Edit</a></li>
					<li><a id="app-detail-concludebutton" href="#" data-toggle="modal" data-target="#application-final-modal"><i class="fa fa-flag-checkered"></i> Conclude</a></li>
					<li><a id="app-detail-sendbutton" href="#"><i class="fa fa-paper-plane-o"></i> Send</a></li>
				</ul>		
			</div>	
		</nav>
		
		<div id="application-content-container" class="application-content-container selectable">
		<div class="row application-content-row">
			<div class="col-xs-6">
				<input id="application-detail-title" class="application-title-view selectable application-view-field" readonly>
				<p class="application-title-view"><span>short name: </span><input class="selectable application-view-field" id="application-detail-shorttitle" readonly></p>
			</div>
			<div class="col-xs-6">
				<p class="application-title-view"><span class="selectable" id="application-detail-size">100</span>Tb</p>
			</div>
			<div class="col-xs-12">
				<p>Application ID: <span class="selectable" id="application-title-id"></span></p>
			</div>
		</div>
		<div class="row application-content-row">
			<div class="col-xs-12">
				<p>Date Submitted: <span class="selectable" id="application-detail-date-submitted"></span></p>
			</div>
		</div>
		
		<div class="row application-content-row">
			<div class="col-xs-6">
				<p class="">Principal Custodian</p>
				<div id="principal-ident">
					<div class="row"><div class="col-xs-12"><strong class="ident-username">User Name</strong></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">position</span></div><div class="col-xs-9"><input class="ident-position selectable application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">institution</span></div><div class="col-xs-9"><input class="ident-institution selectable application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">pawsey id</span></div><div class="col-xs-9"><input class="ident-ident selectable application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">phone</span></div><div class="col-xs-9"><input class="ident-phonenumber selectable application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">email</span></div><div class="col-xs-9"><input class="ident-emailaddress selectable application-view-field" readonly></div></div>
				</div>
			</div>
			
			<div class="col-xs-6">
				<p class="">Secondary Custodian</p>
				<div id="secondary-ident">
					<div class="row"><div class="col-xs-12"><strong class="ident-username">User Name</strong></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">position</span></div><div class="col-xs-9"><input class="ident-position application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">institution</span></div><div class="col-xs-9"><input class="ident-institution application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">pawsey id</span></div><div class="col-xs-9"><input class="ident-ident application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">phone</span></div><div class="col-xs-9"><input class="ident-phonenumber application-view-field" readonly></div></div>
					<div class="row"><div class="col-xs-3 application-address-title-box"><span class="application-address-title pull-right">email</span></div><div class="col-xs-9"><input class="ident-emailaddress application-view-field" readonly></div></div>
				</address>
			</div>
		</div>
		
		<div class="row application-content-row">
			<div class="col-xs-12">
				<p class="">Request Details</p>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-2">
					<span>Total: </span><input id="application-detail-mile-total" class="application-view-field" readonly>Tb
				</div>
				<div class="col-xs-2">
					<span>Mile 1: </span><input id="application-detail-mile-1" class="application-view-field" readonly>Tb
				</div>
				<div class="col-xs-2">
					<span>Mile 2: </span><input id="application-detail-mile-2" class="application-view-field" readonly>Tb
				</div>
				<div class="col-xs-2">
					<span >Mile 3: </span><input id="application-detail-mile-3" class="application-view-field" readonly>Tb
				</div>
				<div class="col-xs-2">
					<span>Mile 4: </span><input id="application-detail-mile-4" class="application-view-field" readonly>Tb
				</div>
			</div>
			<div class="col-xs-12">
				<strong>Need low/med latency?</strong> <input id="application-detail-latency-flag" class="application-view-field" readonly>
			</div>
			<div class="col-xs-12">
				<strong>Why?</strong>
				<textarea id="application-detail-latency-comment" class="application-textarea" readonly></textarea>
			</div>
		</div>
		<div class="row application-content-row">
			<div class="col-xs-12">
				<p class="">Application Details</p>
			</div>

			<div class="col-xs-12 application-detail-title">
				<strong>Project Description</strong>
			</div>			
			<div class="col-xs-12">
				<textarea id="application-detail-description" class="application-textarea" readonly></textarea>
			</div>

			<div class="col-xs-12 application-detail-title">
				<strong>FOR Codes</strong>
				<ul id="project-for-code-display"></ul>
			</div>
			
			<div class="col-xs-12 application-detail-title">
				<strong>Community Statement</strong>
			</div>
			<div class="col-xs-12">
				<textarea id="application-detail-community" class="application-textarea" readonly></textarea>
			</div>

			<div class="col-xs-12 application-detail-title">
				<strong>Collection Funding Statement</strong>
			</div>
			<div class="col-xs-12">
				<textarea id="application-detail-funding" class="application-textarea" readonly></textarea>
			</div>	

			<div class="col-xs-12 application-detail-title">
				<strong>Future Research Statement</strong>
			</div>
			<div class="col-xs-12">
				<textarea id="application-detail-future" class="application-textarea" readonly></textarea>
			</div>	

			<div class="col-xs-12 application-detail-title">
				<strong>Data Management Statement</strong>
			</div>
			<div class="col-xs-12">
				<textarea id="application-detail-management" class="application-textarea" readonly></textarea>
			</div>
			
			<div class="col-xs-12 application-detail-title">
				<strong>Encumberance Statement</strong>
			</div>
			<div class="col-xs-12">
				<textarea id="application-detail-encumberance" class="application-textarea" readonly></textarea>
			</div>

			<div class="col-xs-12 application-detail-title">
				<strong>Research Links</strong>
			</div>
			<div class="col-xs-12">
				<textarea id="application-detail-links" class="application-textarea" readonly></textarea>
			</div>
		
		</div>
		</div>
	</div></div>		
</div>



<div class="modal fade" id="application-final-modal" tabindex="-1" role="dialog" aria-labelledby="application-final-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="submit-modal-dialog">Progress Application</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<p>Approve or Decline to progress this application</p>
					</div>
					<div class="col-xs-4">
						<p class="btn btn-default btn-block btn-lg" id="approve-application-button">Approve</p>
					</div>		
					<div class="col-xs-offset-4 col-xs-4">
						<p class="btn btn-default btn-block btn-lg" id="decline-application-button">Decline</p>
					</div>										
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
			</div>
		</div>
	</div>
</div>
