<div class="container-fluid project-list-view">
	<div class="row">
		<div id="project-list-column" class="col-xs-3 project-list-col">
			<ul id="profilepage-projectlist" class="project-list">
				<li>peep</li>
			</ul>
		</div>
		
		<div id="project-detail-column" class="col-xs-9 project-detail-col">
			
			<div class="project-overlay hidden" id="project-update-view">
				<div class="spinner-block">
					<p class="lead"><i class="fa fa-circle-o-notch fa-spin"></i> Updating project info</p>
				</div>
			</div>
			
			<div class="project-detail-view" id="project-detail-view">
				
				<div class="project-error-container hidden"><p class="project-list-title">Cannot retrieve project information.</p></div>

				<div class="project-title-container project-title" id="project-default-view">Select a project</div>
				
				<div class="project-user-container hidden" id="project-user-content">
					<div class="project-view-container project-pi-alert hidden" id="project-pi-alert"></div>
	
					<div class="project-title-container project-title hidden" id="project-title">No title</div>
					
					<div class="project-tab-container">
						<div class="profile-tabs" id="profile-tab-control">
							<a class="active" href="#" data-tabname="info">Info</a>
							<a href="#" data-tabname="membership">Membership</a>
							<a href="#" data-tabname="activity">Activity</a>
							<a href="#" data-tabname="settings">Settings</a>
						</div>
					</div>
					<div class="project-view-container project-tab" id="project-storage-info-view">
						<div class="row">
							<div class="col-xs-12">
								<span class="project-list-title">Storage Usage</span>
							</div>
						</div>
						<div class="row" id="project-storage-info">
							<div class="col-xs-12">
							<div id="project-storage-quota-bar" class="col-xs-8"></div>
							<div id="project-storage-quota-text" class="col-xs-4"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div id="project-description">No description</div>
							</div>
						</div>
					</div>
					
					<div class="project-view-container project-tab hidden" id="project-settings-view">
						<div class="row">
							<div class="col-xs-12">
							</div>
						</div>
						<div class="row" >
							<div class="col-xs-12">
								<span class="h4">Public Access</span>
							</div>
							<div class="col-xs-3">
								Currently, public access for your project is <span id="public-access-status">OFF</span>
							</div>
							<div class="col-xs-3">
								<span class="btn btn-primary btn-block" id="public-activation-button" data-loading-text="Working..." autocomplete="off">Activate</span>
							</div>
						</div>
								
					</div>
					
					<div class="project-scroll-view-container project-tab hidden" id="project-user-list-view">
						<div class="row">
							<div class="col-xs-12">
								<table class="project-user-list table" id="project-user-list"></table>
							</div>
							<div class="col-xs-12">
								<button class="btn btn-primary" data-toggle="modal" id="add-user-button" data-target="#add-user-modal"><i class="fa fa-user-plus"></i> Add new user</button>
							</div>
						</div>
					</div>
					
					<div class="project-view-container project-tab hidden" id="project-activity-view">
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading panel-small-heading">
										<span>Select logs to view</span>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-10">
												<div class="btn-group btn-group-justified" role="group" id="audit-filter-selector">
													<div class="btn-group" role="group"><button type="button" class="btn btn-default btn-sm audit-group-item">files</button></div>
													<div class="btn-group" role="group"><button type="button" class="btn btn-default btn-sm audit-group-item">folders</button></div>
													<div class="btn-group" role="group"><button type="button" class="btn btn-default btn-sm audit-group-item">users</button></div>
													<div class="btn-group" role="group"><button type="button" class="btn btn-default btn-sm audit-group-item audit-exclusive">deletion</button></div>
													<div class="btn-group" role="group"><button type="button" class="btn btn-default btn-sm audit-group-item audit-exclusive active">everything</button></div>
													<div class="btn-group" role="group" id="user-select-button-group">
													    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													      	All Users
													      	<span class="caret"></span>
													    </button>
													    <ul class="dropdown-menu" id="userfilter-dropdown" role="menu">
													    </ul>
													 </div>
												</div>
											</div>
											<div class="col-sm-2">
												<button class="btn btn-sm btn-primary btn-block" id='audit-update-button'>Update</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="project-overlay" id="audit-update-view">
							<div class="spinner-block">
								<p class="lead" id="audit-update-view-text">Update to show logs</p>
							</div>
						</div>
						<div class="row project-activity-table-view" id="project-activity-table-view">
							<div class="col-xs-12">
								<table class="table table-condensed audit-table" id="audit-list-table">
									<thead><th>event</th><th>user</th><th>time</th><th>event details</th></thead>
									<tbody></tbody>
								</table>
							</div>							
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>

<!-- add remove user UI -->
<div class="hidden" id="modify-user-access-view">
	<span>Change user</span>
</div>

<div class="hidden" id="confirm-user-remove-view">
	<div class="row"><div class="col-xs-12">
		<span class="btn btn-danger btn-block" id="confirm-user-removal-button">Remove user</span>
	</div></div>
	
	<div class="row"><div class="col-xs-12">
		<span class="btn btn-default btn-block" id="cancel-user-removal-button">Never mind</span>
	</div></div>
</div

<div class="hidden">
	<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Enter the username you're trying to add</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<div class="" id="add-user-query-entry">
								<div class="form-horizontal">
								
								<div class="form-group">
									<div class="col-xs-8">
										<input type="text" class="form-control" id="input_username" placeholder="Enter username">
									</div>
									<div class="col-xs-4">
										<button class="btn btn-primary" id="new-user-search-button">Lookup</button>
									</div>
								</div>
							</div>
							<div class="user-default-view" id="add-user-default-view">
								<p>Not sure what to enter?  Contact your user and ask them for their Pawsey username.  It's the same one they use to login to all other Pawsey facilities.</p>
							</div>
							<div class="hidden user-found-view" id="add-user-found-view">
								<h4>Found your user!</h4>
								<span id="confirm-add-user" class="btn btn-default" data-account-type="readonly">Add user to project (readonly)</span>
								<span id="confirm-add-user-rw" class="btn btn-default" data-account-type="readwrite">Add user to project (readwrite)</span>
								<span id="add-user-result" class="lead hidden"> <i class="fa fa-check-circle-o"></i> Done</span>
							</div>
							<div class="hidden user-notfound-view" id="add-user-notfound-view">
								<h4><span id="searched-username">That username</span> couldn't be found.</h4>
								<p>Check your spelling and try another search, or contact help@pawsey.org.org for help</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="modal-warning-banner">
							<h4>About users and projects</h4>
							<p>ReadWrite user have complete access to your project, including <strong>deleting any/all files</strong>.  You are responsible for the behaviour of users granted access to your project.</p>
							<p>If you are unsure, add users as ReadOnly.</p>
							</div>
						</div>
					</div> 
				</div>
	
				<div class="row">
					<div class="col-xs-12">
						<h4>No Luck?</h4>
						<p>If the user you wish to add doesn't have an account, then email help@pawsey.org.au</p>
					</div>
				</div> 
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>