<div class="container-fluid">
	<div class="row">
	<div class="col-xs-12">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" id="export_reports_button"><i class="fa fa-flag-checkered"></i> Export</a></li>
				<li><a href="#" id="update_reports_button"><i class="fa fa-paper-plane-o"></i> Refresh</a></li>
			</ul>		
		</div>	
	</nav>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 report-view hidden" id="projectreport-error-view">
					<div class="report-box">
						<span>Couldn't generate reports. Contact help.</span>
					</div>
				</div>
				<div class="col-xs-4 col-xs-offset-4 report-view" id="projectreport-default-view">
					<div class="report-box">
						<span>Nothing generated</span><button class="btn btn-primary" id="generate_reports_button">Generate Reports</button>
					</div>
				</div>
				<div class="col-xs-4 col-xs-offset-4 report-view hidden" id="projectreport-activity-view">
					<div class="report-box">
						<i class="fa fa-spin fa-cog"></i><span>Generating Report</span>		
					</div>
				</div>
				<div class="col-xs-12 hidden" id="projectreport-table-view">
					<div class="row">
<!--
						<div class="col-xs-4 report-view">
							<span>Storage Reports</span>
						</div>
						<div class="col-xs-4 col-xs-offset-4 report-view">
							<button class="btn btn-primary btn-sm" id="export_reports_button">Export Reports</button><button class="btn btn-primary btn-sm" id="update_reports_button">Update Reports</button>
						</div>
-->
						<div class="col-xs-12 report-view">
							<table id="project_list_table" class="table">
								<thead><tr class="project-header"><td></td><td>Status</td><td>Type</td><td>Used (GB)</td><td>Quota (GB)</td><td></td><td>% used</td></tr></thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	</div>
</div>

<!-- <div class="hidden"> -->
	<div class="modal fade" id="quota-management-modal" tabindex="-1" role="dialog" aria-labelledby="quotaManagementLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"> Change Quota for: <span id="quota-manage-title"></span></h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-inline">
							  <div class="form-group">
							  Change quota of <span  class="strong" id="quota-manage-current">xx</span>TB to <span>
							  <div class="input-group">
							  	<input type="text" class="form-control" id="quota-manage-new" name="q" placeholder="0">
							  	<div class="input-group-addon">TB</div>
							  </div>
							  <button class="btn btn-primary" id="update-new-quota-button">Update</button>
							  </div>
							</div>
						</div>

					</div>
					<div class="row hidden" id="quota-change-confirm-interface">
						
						<div class="col-xs-12">
							<hr>
							<div class="row">
								<div class="col-xs-3">
									<p class="lead"><strong>Confirm:</strong></p>
								</div>
								<div class="col-xs-9">
									<p class="lead"> change quota to <span id="new-quota-terabytes-view"></span>TB ?</p><p class="lead">(<span id="new-quota-bytes-view"> </span> Bytes)</p>
								</div>
							</div>
							<button class="btn btn-primary" id="reset-quota-change-button" >Forget it</button>
							<button class="btn btn-danger" id="confirm-quota-change-button">Proceed</button>
							<span class="hidden fadeIn" id="quota-change-error"><strong>That didn't work</strong></span>
						</div>
						
					</div> 
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->