<div class="container-fluid">
	<div class="row">
		<div id="info-panel">

		<div class="col-md-2">
			<p class="lead" id="update_status"> Status <span id="update_status"><i id="reload-indicator" class="fa fa-repeat"></i></span></p>
			<p class="lead" id="account_name">none</p>
			<p class="small" id="update_date">last updated:</p>
		</div>
		
		<div class="col-md-2" id="resource-status">
			<ul class="list-group" id="resource-list"></ul>
		</div>
		
		<div class="col-md-6" id="project-status">
		<table id="project-status-table" class="table"></table>	
		</div>
		<div class="col-md-2">
			<div class="">This data is not live.</div>
		</div>
		</div>
		
		<div id="login-panel" class="col-md-4 col-md-offset-4">
		<span class="form-horizontal">

			<div class="form-group">
				<div id="login-error" class="alert alert-danger">Oh Snap! Login failed. Please try again</div>
				<label for="inputUsername" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputUsername" placeholder="Enter username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Enter Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" id="process-login-button" class="btn btn-primary" disabled>Login</button>
				</div>
			</div>
		</span>

		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    	update_status();
		$( "#update_status").click(function() {update_status();});
		$( "#info-panel").hide();
		$( "#process-login-button").click(function() {checkLogin();});
		$( "#login-error").hide();
		$( "#inputUsername").keypress(function() {validateInputs();});
		$( "#inputPassword").keypress(function() {validateInputs();});
    });
</script>
