<div>
<div class="row tools">
	<div class="col-xs-offset-1 col-xs-10 ccol-md-offset-2 col-md-8">
		<h2>To manage your data resources via the command line you'll need to use pshell.</h2>
			<a class="btn btn-default btn-lg" href="https://pawsey.atlassian.net/wiki/spaces/US/pages/51924646/PSHELL+Quickstart" target="_self">PSHELL Quickstart documentation</a>
	</div>
</div>
</div
