
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#detailpanel">Project Details</a>
        </h4>
      </div>
      <div id="detailpanel" class="panel-collapse collapse in">
        <div class="panel-body">
        
			<div class="form-group">
                {{#projectName}}

                    <form class="form-inline">
                      <div class="form-group">
                        <label for="selectedProjectName">Project</label>
                        <input type="text" class="form-control" id="selectedProjectName" value="{{projectName}}" readonly>
                      </div>                      
                      <div class="form-group">
                        <label for="projectDesc">Desc</label>
                        <input type="text" class="form-control" id="projectDesc" value="{{projectDesc}}" readonly>
                      </div>                      
                      <!--div class="form-group">
                        <label for="userCount">Total Users</label>
                        <input type="text" class="form-control" id="userCount" value="{{userCount}}" readonly>
                      </div-->                      
                      <div class="form-group">
                        <label for="publicStatus">Public</label>
                        <input type="text" class="form-control" id="publicStatus" value="{{public}}" readonly>
                      </div>                      
                    </form> 
                    
                    <br>

                    <!--form class="form-inline">
                        <label for="projectPercent">Percentage Used</label>
                        <div id="projectPercent" class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{projectpercent}}%">
                            {{projectpercent}}%
                          </div>
                        </div>
                    </form--> 

                    <!-- Admin User can update user roles -->
                    <!--{{#allowAdmin}}-->
                        <div class="table-responsive">          
                            <table id="role-table" class="table compact">
                                <thead>
                                    <tr>
                                        <th>Userid</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--{{#actors}}-->
                                    <tr id="projectlist" class="accordion-toggle" data-toggle="collapse" data-target="#details">
                                        <td>{{name}}</td>
                                        <td>
                                            <!--
                                            <select id="{{rowident}}-{{name}}" name="{{name}}" class="selectpicker" onchange="role_change(this);">
                                              <option {{#administer}}selected="selected"{{/administer}}>administer</option>
                                              <option {{#readwrite}}selected="selected"{{/readwrite}}>readwrite</option>
                                              <option {{#readonly}}selected="selected"{{/readonly}}>readonly</option>
                                            </select>
                                            -->
                                            {{role}}
                                        </td>
                                        <td>
                                            <button type="button" id="update-button" class="btn btn-lt-gray btn-xs" data-toggle="modal" data-target="#modifyRoleModal" 
                                              onclick="display_modify_role(selectedProjectName.value,'{{name}}','{{administer}}{{readwrite}}{{readonly}}')">Modify Role
                                            </button>
                                        </td>
                                    </tr>
                                    <!--{{/actors}}-->
                                </tbody>
                            </table>
                            {{^actors}}
                            No records found
                            {{/actors}}
                        </div>

                        <div class="row admin-toolbar"><div class="col-xs-12">
                            <span>Actions  </span>
                            <button type="button" id="add-button" class="btn btn-lt-gray" data-toggle="modal" data-target="#addMemberModal" 
                              onclick="display_add_role(selectedProjectName.value,'{{name}}','{{administer}}{{readwrite}}{{readonly}}')"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Member
                            </button>
                        </div>
                    <!--{{/allowAdmin}}-->


                    <!-- Non-Admin User will have readonly view of user roles -->
                    {{^allowAdmin}}
                        <div class="table-responsive">          
                            <table id="role-table" class="table compact">
                                <thead>
                                    <tr>
                                        <th>Userid</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--{{#actors}}-->
                                    <tr id="projectlist" class="accordion-toggle" data-toggle="collapse" data-target="#details">
                                        <td>{{name}}</td>
                                        <td>{{role}}</td>
                                    </tr>
                                    <!--{{/actors}}-->
                                </tbody>
                            </table>
                            {{^actors}}
                            No records found
                            {{/actors}}
                        </div>
                    {{/allowAdmin}}

                {{/projectName}}
			</div>            
                    
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div id="addMemberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User Role for Project</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="addMemberRoleProject">Project:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="addMemberRoleProject" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="addMemberRoleUser">Userid:</label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="addMemberRoleUser">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="addMemberRoleUser">Role:</label>
            <div class="col-sm-10"> 
              <select id="addMemberRoleSelect" name="{{name}}" class="selectpicker addMemberRoleSelect">
                <option value="administer">administer</option>
                <option value="readwrite">readwrite</option>
                <option value="readonly">readonly</option>
              </select>
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="btnModal_Update" onclick="grant_role(addMemberRoleProject.value, addMemberRoleUser.value, addMemberRoleSelect.value)">Save</button>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

<div id="modifyRoleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modify/Revoke User Role for Project</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="modifyMemberRoleProject">Project:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="modifyMemberRoleProject" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="modifyMemberRoleUser">Userid:</label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="modifyMemberRoleUser" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="modifyMemberRoleSelect">Role:</label>
            <div class="col-sm-10"> 
              <input type="hidden" class="form-control" id="modifyMemberRole">
              <select id="modifyMemberRoleSelect" name="{{name}}" class="selectpicker modifyMemberRoleSelect">
                <option value="administer">administer</option>
                <option value="readwrite">readwrite</option>
                <option value="readonly">readonly</option>
              </select>
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnModal_Remove" onclick="revoke_role(modifyMemberRoleProject.value, modifyMemberRoleUser.value, modifyMemberRole.value)">Revoke</button>
        <button type="button" class="btn btn-success" id="btnModal_Update" onclick="update_role(modifyMemberRoleProject.value, modifyMemberRoleUser.value, modifyMemberRole.value, modifyMemberRoleSelect.value)">Save</button>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
