
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#projectpanel">Projects</a>
        </h4>
      </div>
      <div id="projectpanel" class="panel-collapse collapse in">
        <div class="panel-body">
            <!--
            <div class="row pager-search-row">
                <div class="col-xs-4 col-sm-6">
                    <div class="file-search">
                        <div class="input-group input-group-sm">
                            <input id="input-project-filter-field" type="text" class="project-filter-input" placeholder="Filter results by ..." onfocus="this.select();">
                            <span class="input-group-btn">
                                <button id="project-filter-clear-button" class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                                <button id="project-filter-execute-button" class="btn btn-default disabled" type="button">Go</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="table-responsive">          
                <table id="example" class="table compact">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <!--th>Description</th-->
                            <th>Used</th>
                            <th>Quota</th>
                            <th>Percentage Used</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{{#projects}}-->
                        <tr id="projectlist" class="accordion-toggle" data-toggle="collapse" data-target="#details">
                            <td><b><a id="{{projectName}}" onclick="display_project_details(this);" data-toggle="tooltip" title="Click to load Project details into the Details panel">{{projectName}}</a></b></td>
                            <!--td>{{description.#text}}</td-->
                            <td title="{{used.#text}}">{{usedInGB}} GB</td>
                            <td title="{{quota.#text}}">{{quotaInGB}} GB</td>
                            <td>{{projectpercent}}%</td>
                        </tr>
                        <!--{{/projects}}-->
                    </tbody>
                </table>
                {{^projects}}
                No records found
                {{/projects}}
            </div>
        </div>
        <!--div class="panel-footer">Order by clicking on column header for sorting (toggle ascending/descending)</div-->        
      </div>
    </div>
</div>
