  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#systempanel">Overview</a>
        </h4>
      </div>
      <div id="systempanel" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th>Projects</th>
                            <th>Total Project Usage</th>
                            <th>Total Project Quota</th>
                            <th>Percentage Used</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{{#systemdata}}-->
                        <tr>
                            <td>{{projectcount}}</td>
                            <td>{{totalused}} {{storageunits}}</td>
                            <td>{{totalquota}} {{storageunits}}</td>
                            <td>
                                {{totalpercent}}% 
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{totalpercent}}%">
                                    {{totalpercent}}%
                                  </div>
                                </div>
                            </td>
                        </tr>
                        <!--{{/systemdata}}-->
                    </tbody>
                </table>
                {{^systemdata}}
                No records found
                {{/systemdata}}
            </div>
        </div>
      </div>
    </div>
  </div>
