  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#systempanel">System Tools</a>
        </h4>
      </div>
      <div id="systempanel" class="panel-collapse collapse in">
        <div class="panel-body">
        
            <div class="row admin-toolbar"><div class="col-xs-12">
                <span>Tools  </span>
                <div class="btn-group" role="group">
                  <button class="btn btn-lt-gray" id="add-project-button" data-toggle="modal" data-target="#addProjectModal" onclick="display_add_project()">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Create Project
                  </button>
                  <button class="btn btn-lt-gray" onclick="mount_all_projects()">Mount All <i id="mountAllSpinner" class="fa fa-spinner fa-spin"></i></button>
                </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
    <div id="addProjectModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Project</h4>
          </div>
          <div class="modal-body">

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="addProjectName">Project:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="addProjectName">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="addProjectDesc">Desc:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="addProjectDesc">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="addProjectQuota">Quota:</label>
                <div class="col-sm-10">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="number" class="form-control" id="addProjectQuota" placeholder="Quota" value="{{quota}}">
                      <div class="input-group-addon">GB</div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="addProjectStoreSelect">Store:</label>
                <div class="col-sm-10">
                  <select id="addProjectStoreSelect" name="addProjectStoreSelect" class="selectpicker addProjectStoreSelect">
                    <!--{{#projectStores}}-->
                        <option value={{index}}>{{value}}</option>
                    <!--{{/projectStores}}-->
                  </select>
                </div>
              </div>

            </form>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnModal_Update" onclick="add_project(addProjectName.value, addProjectDesc.value, addProjectQuota, addProjectStoreSelect.value)">Save</button>
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
