
<div class="row admin-toolbar"><div class="col-xs-12">
    <span>Tools  </span>
    <button class="btn btn-lt-gray"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Project</button>
    <button class="btn btn-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Unmount All</button>
    <button class="btn btn-lt-gray">Mount All</button>
</div>
