
<div class="row ">
    <div class="col-xs-6">
        <div class="input-group input-group-sm">
        	<input id="input-project-filter-field" type="text" class="project-filter-input" placeholder="Filter projects by ..." onfocus="this.select();">
        	<span class="input-group-btn">
        		<button id="project-filter-clear-button" class="btn btn-default" type="button" style="display: none;"><i class="fa fa-times"></i></button>
        		<button id="project-filter-execute-button" class="btn btn-default disabled" type="button">Go</button>
        	</span>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-group input-group-sm">
        	<span class="input-group-btn pull-right">
        		<button id="project-refresh-button" class="btn btn-default" type="button"><i class="fa fa-refresh"></i> Reload</button>
        	</span>
        </div>
    </div>
</div>

<div class="row"><div class="col-xs-12">
    {{#projects}}
        <div class="col-sm-2">
            <div class="panel {{style}}">
                <div class="panel-heading panel-heading-small">{{name.#text}}</div>
                <div class="panel-body">
                    <p>{{description.#text}}</p><b>{{mounted.#text}}</b>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{percentused}}">
                        <span class="sr-only">{{used.#text}}</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    {{/projects}}
</div></div>
