<nav class="navbar navbar-custom navbar-static-top unselectable" role="navigation" id="top-navbar">
  <div class="container-fluid">
	   <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		  <a class="navbar-brand" href="/" data-toggle="tab"><img class="brand-image" src="/images/pawseydata-logo-small.png"></a>
    </div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-left" id="main-tabs">
			<li><a href="/admin"><span class="pawsey-label pawsey-orange">[ ADMIN ]</span></a></li>
			<li><a href="/dashboard"><span class="pawsey-label pawsey-orange">[ DASHBOARD ]</span></a></li>
		</ul>
		<div class="navbar-right">
			<ul class="nav navbar-nav" id="nav-login-control">
				<!--li><a href="/account"><span class="pawsey-label pawsey-orange">[ {{ username }} ]</span></a></li-->
				<li><a><span class="pawsey-label pawsey-orange">[ {{ username }} ]</span></a></li>
				<li><button id="nav-logout-button" class="btn btn-default navbar-btn">logout</button></li>
			</ul>
		</div>
	</div>
  </div>
</nav>

<!-- modal to display liveARC commmand fail alert messages -->
<div class="modal fade" id="myAlertMessageModal" tabindex="-1" role="dialog" aria-labelledby="myAlertMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Unable to perform requested action</h4>
            </div>
            <div class="modal-body">
                <h4>Please check error and try again</h4>
                <h4>Error: <span id="alert_error_human_text"></span></h4>
                <h4>Detailed error message</h4>
                <p class="modal_detail_error" id="alert_error_detail_text"> </p>
                <a id="error-email-link" href="mailto:help@pawsey.org.au&subject=Data%20Website%20Error&body=Body-goes-here"><i class="fa fa-envelope-o"></i> Send all this to us and tell us what you were trying to do.</a>
            </div>
        </div>
    </div>
</div>
