<nav class="navbar navbar-custom navbar-static-top unselectable" role="navigation" id="top-navbar">
  <div class="container-fluid">
	   <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		  <a class="navbar-brand" href="/"><img class="brand-image" src="/images/pawseydata-logo-small.png"></a>
    </div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<div class="navbar-form navbar-right">
			<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <input name="user" class="dashboard-navbar-input" type="text" id="dashboard-navbar-username" placeholder="username" onfocus="this.select();"></li>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" id="dashboard-navbar-password" placeholder="password" onfocus="this.select();"></li>
                </div>
                <button type="submit" id="nav-login-button" class="btn btn-default dashboard-navbar-button">login</button>
			</div>
		</div>
	</div>
  </div>
</nav>
